<div class="c-image">
    <img src="{{site.url}}{{site.baseurl}}/assets/img/Leapp_Icon.png" alt="logo" title="logo" />
</div>
<div class="c-text">
    <span><strong>Announcing Leapp Pro.</strong><br> Centralize and protect your Cloud Access.</span>
</div>
<div class="c-link">
    <a href="/solutions/personal" target="_blank" id="rebranding_link" style="font-size: 18px">
        <span class="desktop check-it-out">Take me there!</span>
        <img src="{{site.url}}{{site.baseurl}}/assets/img/arrow-right.png" width="36" alt="">
    </a>
</div>
