<div id="cli-hero" class="container">
    <div class="callout d-block">
        <h1>Take Leapp to the command line</h1>
        <h3>Leapp CLI brings Leapp to your terminal. Free and open source.</h3>
        <div class="install-cli">
            <span class="brew"><span class="terminal-caret">$&nbsp;</span>brew install Noovolari/brew/leapp-cli</span>
            <a class="docs-link" href="https://docs.leapp.cloud/latest/cli/"><span class="docs">Open CLI Documentation</span></a>
        </div>
        <div class="view-installation-instructions">
            <a href="https://docs.leapp.cloud/latest/installation/install-leapp/#install-leapp-cli" target="_blank">
                View installation instructions
                <img class="arrow" src="{{site.url}}{{site.baseurl}}/assets/img/arrow-right.png" width="36">
            </a>
        </div>
    </div>
</div>