<section id="cli-main-features" class="ovh light">
    <div class="container">
        <h1 class="section-subtitle text-center">{{site.data.cli_main_features.title-1}}</h1>
        <h1 class="section-subtitle text-center">{{site.data.cli_main_features.title-2}}</h1>
        <div class="main-features-wrapper">
            <div class="col">
                <div class="card-holder">
                    {% for item in site.data.cli_main_features.features %}
                    <div class="card">
                        <i class="fa {{item.icon}} list-item-icon"></i>
                        <div>
                            <p class="main-features-title">{{ item.title }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="card-holder">
                    {% for item in site.data.cli_main_features.features %}
                    <div class="card">
                        <h2 class="main-features-content">{{ item.content }}</h2>
                    </div>
                    {% endfor %}
                </div>

                <div class="card-holder">
                    {% for item in site.data.cli_main_features.features %}
                    <div class="main-features-link">
                        <a href="{{item.link-url}}">{{ item.link-message }}</a>
                        <img class="arrow" src="{{site.url}}{{site.baseurl}}/assets/img/arrow-right.png" width="15" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
