<div class="team-carousel">
    <span class="title">Security that adapts to your business</span>
    <div class="carousel-container">
        <div class="carousel-info-container">
            <div class="carousel-info" id="carousel-info-1">
                <div id="carousel-strip-1" class="active-carousel"></div>
                <div class="carousel-info-content">
                    <span>Centralize Cloud Access</span>
                    <span>Create, Manage, and share Leapp Sessions centrally to govern how and where your employees use Leapp at scale</span>
                </div>
            </div>
            <div class="carousel-info" id="carousel-info-2">
                <div id="carousel-strip-2"></div>
                <div class="carousel-info-content">
                    <span>Streamline provisioning</span>
                    <span>Configure AWS Access to your developers to automate the Access request and approvals, and spend less time onboarding and offboarding.</span>
                </div>
            </div>
            <div class="carousel-info" id="carousel-info-3">
                <div id="carousel-strip-3"></div>
                <div class="carousel-info-content">
                    <span>Unlock Leapp and access in a click</span>
                    <span>Protect your Cloud login with a lock screen. <br> Let Leapp generate your company credentials for you.</span>
                </div>
            </div>
        </div>
        <div class="img-wrapper">
            <img id="carousel-1" src="../assets/img/carousel-3.png" alt="">
            <img id="carousel-2" src="../assets/img/carousel-2.png" alt="">
            <img id="carousel-3" src="../assets/img/carousel-1.png" alt="">
        </div>
    </div>

</div>
