<section id="cli-terminal" class="ovh">

    {% include cli-hero.html %}

    <div class="command-type">
        <span class="dollar-sign">$</span>
        <div id="command-name">leapp session start</div>
        <span class="blinking-caret"></span>
    </div>
    <div class="command-description">
        <span id="command-description">Start a Leapp session and generate short-lived credentials</span>
    </div>
    <div class="terminal-window">
        <div class="traffic-ligths">
            <div class="red-light"></div>
            <div class="orange-light"></div>
            <div class="green-light"></div>
        </div>
        <div class="terminal-content">
            {% for item in site.data.cli_commands.command_list %}
                <div class="command-container hidden-command {{item.command_id}}">{{item.command_execution}}</div>
            {% endfor %}
        </div>
    </div>
    <div class="command-list">
        <ul>
            {% for item in site.data.cli_commands.command_list %}
                <li class="terminal-command">
                    <span class="{{item.command_id}}">{{item.command_name}}</span>
                    <div class="terminal-command-description" style="display: none">{{item.command_description}}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <span class="view-all">
        <a href="https://docs.leapp.cloud/latest/cli/" target="_blank">VIEW ALL LEAPP CLI COMMANDS</a>
    </span>
</section>