<section id="cli-hero" class="ovh">
    <div class="container">
        <div class="callout">
            <h1>Take Leapp to the command line</h1>
            <h3>Leapp CLI brings Leapp to your terminal. Free and open source.</h3>
            <div class="install-cli">
                <span class="brew"><span class="terminal-caret">$&nbsp;</span>brew install Noovolari/brew/leapp-cli</span>
                <a href="https://docs.leapp.cloud/latest/cli/"><span class="docs">Open CLI Documentation</span></a>
            </div>
            <a href="https://docs.leapp.cloud/latest/installation/install-leapp/#install-leapp-cli" target="_blank">
                View installation instructions
                <img class="arrow" src="{{site.url}}{{site.baseurl}}/assets/img/arrow-right.png" width="36">
            </a>
        </div>
    </div>
    <div class="command-type">
        <span class="dollar-sign">$</span> leapp session start
    </div>
    <div class="command-description">
        <span>Start a leapp session and generate short-lived credentials</span>
    </div>
    <div class="terminal-window">
        <div class="traffic-ligths">
            <div class="red-light"></div>
            <div class="orange-light"></div>
            <div class="green-light"></div>
        </div>
    </div>
    <div class="command-list">
        <ul>
            <li><span>leapp session start</span></li>
            <li>leapp session stop</li>
            <li>leapp integration sync</li>
            <li>leapp session generate</li>
        </ul>
    </div>
    <span class="view-all">
        <a href="https://docs.leapp.cloud/latest/cli/" target="_blank">VIEW ALL LEAPP CLI COMMANDS</a>
    </span>
</section>