<section id="cli-hero" class="ovh">
    <div class="container">
        <div class="callout">
            <h1>Take Leapp to the command line</h1>
            <h3>Leapp CLI brings Leapp to your terminal. Free and open source.</h3>
            <div class="install-cli">
                <span class="brew" >brew tap Noovolari/brew && brew install leapp-cli</span>
                <span class="or">OR</span>
                <span class="npm">npm install -g @noovolari/leapp-cli</span>
            </div>
            <a href="https://docs.leapp.cloud/0.12.0/installation/install-leapp/#install-leapp-cli" target="_blank">
                View installation instructions
                <img class="arrow" src="{{site.url}}{{site.baseurl}}/assets/img/arrow-right.png" width="36">
            </a>
        </div>
    </div>
</section>