<section id="contributor" class="light">
    <div class="container">
        <h2 class="title mb-3 fs-3">SIMPLIFY YOUR CLOUD LOCALLY, FOR YOUR TEAM, OR AT SCALE</h2>
        <div class="cards-pricing-container">

            {% for card in site.data.pricing.pricing_cards.cards %}

            <div class="pricing-card-highlight {{card.highlighted}}">
                <span class="highlight-text">EARLY ACCESS NOW</span>
                <div class="pricing-card">
                    <div class="card-header">
                        <div class="icons-container">
                            <i class="tier-icon {{card.icon}}"></i>
                            <span  class="range-container"><i class="tier-range-icon fa-regular fa-user"></i>{{card.number_people}}</span>
                        </div>
                        <h2 class="{{card.color}}">{{card.name}}</h2>
                        <h4>{{card.description}}</h4>
                    </div>
                    <div class="card-content">
                        <a href="{{card.cta_link}}" onclick="{{card.cta_action}}" class="card-content-button">{{card.cta}}</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
    <div style="display: flex; justify-content: center">
        <a href="/pricing" style="background:initial; color:#000200!important;" class="btn btn-link d-inline-block " target="_blank" >Compare plans <i class="fa-solid fa-arrow-right" style="padding-right: 10px"></i></a>
    </div>
</section>
