
<div class="enterprise-cta">
    <div class="container">
        <div class="text">
            <div class="logo">
                <img src="{{ site.url }}{{site.baseurl}}/assets/img/leapp.svg" alt="Leapp" height="60" id="logo"/>
                <h4>FOR BUSINESS</h4>
            </div>
            <p>Enable collaboration and improve your Access strategies while meeting any Company compliance requirement with a complete DevSecOps Platform. </p><p> Start scaling your Cloud Operations, and secure your Organization Cloud Environment.</p>
            <a href="/solutions/business" class="btn btn-outline-primary d-inline-block mt-2" >Learn More</a>
        </div>

    </div>
    <div>
        <img src="{{ site.url }}{{site.baseurl}}/assets/img/enterprise-image.png" alt="Enterprise image" class="fade-image"/>
    </div>

</div>
