
<div class="enterprise-cta">
    <div class="container">
        <div class="text">
            <div class="logo">
                <img src="{{ site.url }}{{site.baseurl}}/assets/img/leapp.svg" alt="Leapp" height="60" id="logo"/>
                <h4>TEAM</h4>
            </div>
            <p>We are out in Public Beta! </p><p>Enjoy the Cloud from a company’s point of view! </p>
            <a href="/solutions/business" class="btn btn-outline-primary d-inline-block mt-2" >Get Started for FREE</a>
        </div>

    </div>
    <div>
        <img src="{{ site.url }}{{site.baseurl}}/assets/img/enterprise-image.png" alt="Enterprise image" class="fade-image"/>
    </div>

</div>
