<section id="faq" class="bg-grey">
    <div class="container">
        <h2 class="section-title">{{site.data.faq.title}}</h2>
        {% if site.data.faq.subtitle != null %}
            <h3 class="mb-3">{{site.data.faq.subtitle}}</h3>
        {% endif %}
        {% if site.data.faq.topics.size > 0 %}
            <div class="topics-wrapper">                
                <ul class="accordion">
                    {% for topic in site.data.faq.topics %}
                        <li>
                            <div class="accordion-header">
                                {{topic.question}}
                                <i class="fas fa-plus accordion-cta"></i>
                            </div>
                            <div class="accordion-content">{{topic.answer}}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="faq-chat">
            <i class="fab fa-slack"></i>
            Can’t find an answer in our Knowledge Base? <br>
            Please chat with us if you have additional questions.
        </div>
    </div>
</section>