<section id="features">
    <div class="container">
        <h3>{{site.data.features.title}}</h3>
        <div class="features-holder">
            {% for item in site.data.features.features %}
                {% capture c %}{% cycle '', 'reverse' %}{% endcapture %}
                <div class="feature {{c}}">
                    <div class="video">
                        <video {% if item.controls == true %}controls="controls"{% endif %} {% if item.autoplay == true %}autoplay="autoplay"{% endif %} {% if item.muted == true %}muted="muted"{% endif %} loop="loop"><source src="{{site.url}}{{site.baseurl}}/assets/videos/{{item.video}}" type="video/mp4" /></video>
                    </div>
                    <div class="content">
                        <h2>{{ item.title }}</h2>
                        {% capture p %}{% include {{item.content}} %}{% endcapture %}
                        {{ p | markdownify }}
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
