<footer>
    <div class="container">
        <div class="footer-cta">
            <a href="/"><img src="{{ site.url }}{{site.baseurl}}/assets/img/leapp.svg" alt="Leapp" width="150" height="48"/></a>

            {% if page.layout == 'team' %}
                <a href="javascript:void(0);" class="btn btn-secondary d-inline-block modal modal-button" data-action="https://formspree.io/f/xlevenrr">Apply for early access</a>
            {% else %}
                <a href="{{site.get_started}}" class="btn btn-secondary d-inline-block" target="_blank" id="install-leapp-footer" onclick="leapp.sendEvent('Download-From-Footer', this)">Install Leapp</a>
            {% endif %}

        </div>
        <hr>
        <ul>
            <li>
                <span>&copy; 2022 Noovolari, All rights reserved. | Powered by </span>
                <a href="https://www.besharp.it" target="_blank" rel="noopener" class="logo-besharp" >
                    <img src="{{ site.url }}{{site.baseurl}}/assets/img/besharp.svg" width="68" height="28" alt="beSharp">
                </a>
            </li>
            <li>
                {% for item in site.data.footer.page %}
                    <a title="{{ item.title }}" href="{{ item.url }}" class="pr-1">{{ item.title }}</a>
                {% endfor %}
            </li>
        </ul>
    </div>
</footer>

<script src="https://kit.fontawesome.com/11985aaded.js" crossorigin="anonymous" async></script>
{% capture jquery %}
{% include js/vendor/jquery-3.5.1.min.js %}
{% endcapture %}
{% capture slick %}
{% include js/vendor/slick.min.js %}
{% endcapture %}
{% capture formValidate %}
{% include js/vendor/jquery.validate.min.js %}
{% endcapture %}
{% capture marked %}
{% include js/vendor/marked.min.js %}
{% endcapture %}
{% capture confirm %}
{% include js/vendor/jquery-confirm.min.js %}
{% endcapture %}
{% capture main %}
{% include js/main.js %}
{% endcapture %}
<script>{{ jquery }}</script>
<script>{{ slick }}</script>
<script>{{ formValidate }}</script>
<script>{{ confirm }}</script>
<script>{{ marked }}</script>
<script>{{ main }}</script>
