<footer>
    <div class="container">
        <div class="footer-cta">
            <!-- <h2>{{site.data.footer.cta_text}}</h2> -->
            <a href="/"><img src="{{ site.url }}{{site.baseurl}}/assets/img/leapp.svg" alt="Leapp" width="150" height="48"/></a>
            <a href="{{site.get_started}}" class="btn btn-secondary d-inline-block fs-5" id="hero-gestarted">Get Started</a>
        </div>
        <hr>
        <ul>
            <li>
                <span>&copy; 2022 Noovolari, All rights reserved. | Powered py </span>
                <a href="https://www.besharp.it" target="_blank" rel="noopener" class="footer-besharp" >
                    <img src="{{ site.url }}{{site.baseurl}}/assets/img/besharp.svg" width="68" height="28" alt="beSharp">
                </a>
            </li>
            <li>
                <a title="contacts" href="{{site.data.footer.contacts_url}}" class="pr-1">Contacts</a>
                <a title="Privacy Policy" href="{{site.data.footer.privacy_url}}" class="pr-1">Privacy Policy</a>
                <a title="Leapp GitHub" href="{{site.github_url}}" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
            </li>
        </ul>
</footer>

<script src="https://kit.fontawesome.com/11985aaded.js" crossorigin="anonymous" async></script>

{% capture jquery %}
  {% include js/vendor/jquery-3.5.1.min.js %}
{% endcapture %}
{% capture slick %}
  {% include js/vendor/slick.min.js %}
{% endcapture %}
{% capture formValidate %}
  {% include js/vendor/jquery.validate.min.js %}
{% endcapture %}
{% capture marked %}
  {% include js/vendor/marked.min.js %}
{% endcapture %}
{% capture main %}
  {% include js/main.js %}
{% endcapture %}
<script async>{{ jquery }}</script>
<script async>{{ slick }}</script>
<script async>{{ formValidate }}</script>
<script async>{{ marked }}</script>
<script async>{{ main | uglify | strip }}</script>