<section id="get-started">
    <div class="container small">

        <div class="col-container mb-2 p-1">
            <div class="col content full white">
                <h1 class="title">{{site.data.get_started.title}}</h1>
                {% if site.data.get_started.subtitle %}
                <h2 class="subtitle">{{ site.data.get_started.subtitle }}</h2>
                {% endif %}
                {% if site.data.get_started.content %}
                {{ site.data.get_started.content }}
                {% endif %}
            </div>
        </div>

        <div class="leapp-form-wrapper">

            <p id="leapp-form-status"></p>

            <form action="https://formspree.io/f/xqkwqljw" class="leapp-form" id="support-form" method="post">
                <fieldset>

                    <legend class="d-none">Leapp support</legend>

                    <div class="col-container">
                        <div class="col pl-0">


                            <div class="field">
                                <label for="support_name" class="field-title"><span class="mandatory">*</span> Name</label>
                                <input type="text" name="support_name" id="support_name" placeholder="Yout name" />
                            </div>

                            <div class="field">
                                <label for="support_email" class="field-title"><span class="mandatory">*</span> Email</label>
                                <input type="email" name="support_email" id="support_email" placeholder="Your email" />
                            </div>

                            <div class="field m-0">
                                <label for="support_company" class="field-title"><span class="mandatory">*</span> Company</label>
                                <input type="text" name="support_company" id="support_company" placeholder="Yout company" />
                            </div>

                        </div>
                        <div class="col pr-0">

                            <div class="field-title">
                                <span class="mandatory">*</span> Company size
                            </div>

                            <div class="field m-0">
                                <input type="radio" value="&lt; 20 Devs OR &lt; 10 Accounts" name="support_size" id="support_size_1" required />
                                <label for="support_size_1">&lt; 20 Devs OR &lt; 10 Accounts</label>
                            </div>

                            <div class="field m-0">
                                <input type="radio" value="&lt; 50 Devs OR &lt; 20 Accounts" name="support_size" id="support_size_2" />
                                <label for="support_size_2">&lt; 50 Devs OR &lt; 20 Accounts</label>
                            </div>

                            <div class="field m-0">
                                <input type="radio" value="&lt; 100 Devs OR &lt; 50 Accounts" name="support_size" id="support_size_3" />
                                <label for="support_size_3">&lt; 100 Devs OR &lt; 50 Accounts</label>
                            </div>

                            <div class="field">
                                <input type="radio" value="more" name="support_size" id="support_size_4" />
                                <label for="support_size_4">more</label>
                            </div>

                            <div class="field-title">
                                <span class="mandatory">*</span> Our works run on
                            </div>

                            <div class="field m-0">
                                <input type="checkbox" value="AWS" name="support_cloud" id="support_cloud_1" required />
                                <label for="support_cloud_1">AWS</label>
                            </div>

                            <div class="field m-0">
                                <input type="checkbox" value="Azure" name="support_cloud" id="support_cloud_2" />
                                <label for="support_cloud_2">Azure</label>
                            </div>

                            <div class="field m-0">
                                <input type="checkbox" value="Google Cloud" name="support_cloud" id="support_cloud_3" />
                                <label for="support_cloud_3">Google Cloud</label>
                            </div>

                        </div>

                    </div>

                    <div class="or mb-2"></div>

                    <div class="field-title">
                        <label for="support_description">Description</label>
                    </div>

                    <div class="field m-0">
                        <textarea name="support_description" id="support_description" cols="30" rows="5"></textarea>
                    </div>

                    <div class="g-recaptcha mt-1" data-sitekey="6LfX30oUAAAAAD8MVNC8OIpoq_rj_abqx2rGaXb7" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>

                    <div class="mt-2">
                        <span class="mandatory">*</span> Required fields. By signing up, you agree to the <a href="/privacy.html">Privacy Policy</a>.
                    </div>

                    <input type="submit" value="Submit" class="btn btn-outline-secondary d-block" />


                </fieldset>
            </form>

        </div>

    </div>
</section>
