<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="UTF-8">
    <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
    <!-- Facebook -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}/assets/img/thumbs/{{ page.image }}" />
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="article:publisher" content="https://www.facebook.com/{{site.facebook_username}}" />
    <meta property="article:author" content="https://www.facebook.com/{{site.facebook_username}}" />
    <meta property="article:published_time" content="{{ page.date }}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}">
    <meta name="twitter:site" content="@{{site.twitter_username}}" />
    <meta name="twitter:creator" content="@{{site.twitter_username}}">
    <meta name="twitter:card" content="summary">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.url }}/assets/img/favicons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.url }}/assets/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/img/favicons/apple-touch-icon-152x152.png">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>