<section id="hero-unit">
    <div class="container">
        <h1>{{site.data.herounit.title}}</h1>
        <h2>{{site.data.herounit.subtitle}}</h2>
        <div class="hero-btn-holder">
            <a href="{{site.data.herounit.link}}" target="_blank" class="btn-lg btn-outline-primary tag-manager-download">{{site.data.herounit.button}}</a>
        </div>
        <div class="fade-up">
            <img src="{{site.url}}{{site.baseurl}}/assets/img/{{site.data.herounit.image}}" alt="{{site.data.herounit.image_title}}" title="{{site.data.herounit.image_title}}" />
        </div>
    </div>
</section>
