<section id="hero-unit" class="home ovh">
    <div class="container">
        <video height="584"
               onpause="leapp.sendEvent('Pause', this)" onplay="leapp.sendEvent('Play', this)" onended="leapp.sendEvent('Ended', this)"
               ontimeupdate="leapp.sendEvent('Progress', this)"
               autoplay muted style="border-radius: 5px;" data-title="home-page-video" class="mobile m-auto mb-2 w-100 h-auto">
            <source src="{{site.url}}{{site.baseurl}}/assets/videos/{{site.data.herounit.image}}.mp4" type="video/mp4">
            <source src="{{site.url}}{{site.baseurl}}/assets/videos/{{site.data.herounit.image}}.webm" type="video/webm">
            <source src="{{site.url}}{{site.baseurl}}/assets/videos/{{site.data.herounit.image}}.mov" type="video/mov">
            <img src="{{site.url}}{{site.baseurl}}/assets/img/first-frame.png" alt="video tag not supported" title="video tag not supported" />
        </video>

        <div class="hero-unit-col-container">
            <div class="col">
                <div class="title">{{site.data.herounit.col_left_title}}</div>
                <div class="subtitle">{{site.data.herounit.col_left_subtitle}}</div>

                <div id="hero-button">
                    <a href="#contributor" class="btn btn-outline-primary d-inline-block mt-2" id="hero-join">Join the community</a>
                    <a href="{{site.get_started}}" class="btn btn-secondary d-inline-block mt-2" target="_blank" id="download-from-hero">Install Leapp</a>
                </div>

            </div>
            <div class="col text-center desktop">
                <video height="584"
                       onpause="leapp.sendEvent('Pause', this)" onplay="leapp.sendEvent('Play', this)" onended="leapp.sendEvent('Ended', this)"
                       ontimeupdate="leapp.sendEvent('Progress', this)"
                       autoplay muted data-title="home-page-video" style="border-radius: 5px">
                    <source src="{{site.url}}{{site.baseurl}}/assets/videos/{{site.data.herounit.image}}.mp4" type="video/mp4">
                    <source src="{{site.url}}{{site.baseurl}}/assets/videos/{{site.data.herounit.image}}.webm" type="video/webm">
                    <source src="{{site.url}}{{site.baseurl}}/assets/videos/{{site.data.herounit.image}}.mov" type="video/mov">
                    <img src="{{site.url}}{{site.baseurl}}/assets/img/first-frame.png" alt="video tag not supported" title="video tag not supported" />
                </video>
                </div>
        </div>
    </div>
</section>
