<section id="hero-unit" class="home">
    <div class="container">
        <h2 class="subtitle text-center">{{site.data.herounit.subtitle}}</h2>
        <h3 class="title text-center">{{site.data.herounit.title}}</h3>

        <img src="{{site.url}}{{site.baseurl}}/assets/img/{{site.data.herounit.image}}" alt="Leapp Main Window" width="1029" height="584" class="mobile m-auto mb-2"/>

        <div class="hero-unit-col-container">
            <div class="col">
                <div class="title">{{site.data.herounit.col_left_title}}</div>
                <div class="subtitle">{{site.data.herounit.col_left_subtitle}}</div>

                <!-- <div id="download-wrapper">
                    <div id="download-container">
                        <div id="download-label"></div>
                        <div id="download-action"><i class="far fa-chevron-down"></i></div>
                        <div id="download-content">
                            <table>
                                <tr>
                                    <td><strong>MacOs</strong></td>
                                    <td>Universal</td>
                                    <td>
                                        <a href="#" data-os="mac" class="download"><i class="far fa-arrow-to-bottom"></i></a>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td><strong>Windows x64</strong></td>
                                    <td>User Installer</td>
                                    <td>
                                        <a href="#" data-os="win" class="download"><i class="far fa-arrow-to-bottom"></i></a>
                                    </td>
                                </tr>
                                <tr class="last">
                                    <td><strong>Linux x64</strong></td>
                                    <td>.deb<br>.AppImage</td>
                                    <td>
                                        <a href="#" data-os="linux" class="download"><i class="far fa-arrow-to-bottom"></i></a>
                                        <br>
                                        <a href="#" data-os="linAppImage" class="download"><i class="far fa-arrow-to-bottom"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div> 
                </div> -->

                <!-- <a href="{{site.data.download.other_download_url}}" target="_blank" rel="noopener" class="other-download">{{site.data.download.other_download_label}}</a> -->

                <div class="space-beetween pr-3">
                    <a href="#contributor" class="btn btn-outline-primary d-inline-block mt-2 fs-5">Join the community</a>
                    <a href="{{site.get_started}}" class="btn btn-secondary d-inline-block mt-2 fs-5">Get Started</a>
                </div>

            </div>
            <div class="col text-center desktop">
                <img src="{{site.url}}{{site.baseurl}}/assets/img/{{site.data.herounit.image}}" alt="Leapp Main Window" width="1029" height="584" id="main-window"/>
            </div>
        </div>

        <!-- <div class="hero-btn-holder">
            <a title="Download Leapp" href="{{site.data.herounit.link}}" target="_blank" rel='noopener' class="btn-lg btn-outline-primary">{{site.data.herounit.button}}</a>
        </div> -->
        <!-- <div class="fade-up">
            <img src="{{site.url}}{{site.baseurl}}/assets/img/{{site.data.herounit.image}}" alt="{{site.data.herounit.image_title}}" title="{{site.data.herounit.image_title}}" />
        </div> -->
    </div>
</section>
