<section id="hero-unit">
    <div class="container">

        <div class="hero-unit-col-container {{page.hero_position}}">
            <div class="col hero-content team-hero-content">
                <h1 class="hero-title">{{page.hero_title_1}}&nbsp;<span class="typed-text" data-array='{{site.data.team.claims | inspect}}'></span><span class="cursor"></span><br>{{page.hero_title_2}}</h1>
                {% if page.hero_content %}
                    {% include {{ page.hero_content }} %}
                {% endif %}
            </div>
            {% if page.hero_image != null %}
                <div class="sign-up-form">
                    <img src="../assets/img/leapp-logo.png" alt="leapp-logo">
                    <div class="inner-content-container">
                        <span class="title">Create your free account</span>
                        <span class="field-name">Work email</span>
                        <span class="field-description">Using your email make easier to invite teammates</span>
                        <input id="team-sign-up" class="form-control" placeholder="Company email" required>
                        <button type="submit" class="button primary"
                                onclick="let value = encodeURIComponent(document.getElementById('team-sign-up').value);
                                         window.open('http://app.leapp.cloud/register' + (value !== '' ? ('?email=' + value) : ''))">
                            <span>Get started for FREE</span>
                        </button>
                    </div>
                        <p class="privacy-policy privacypolicy">
                            By joining you agree to Leapp’s&nbsp;
                            <a href="https://d3o59asa8udcq9.cloudfront.net/docs/Terms_and_conditions_SAAS.pdf">Terms</a>
                            &nbsp;and&nbsp;
                            <a href="https://d3o59asa8udcq9.cloudfront.net/docs/Privacy_Policy_Noovolari.pdf">Privacy Policy</a>
                        </p>
                        <span class="already-signed-up">Already have an account? <a href="https://app.leapp.cloud/sign-in">Sign In</a></span>
                </div>
            {% endif %}

        </div>
    </div>
</section>
