<section id="main-features" class="ovh">
    <div class="container">
        <h2 class="section-subtitle text-center mgb">{{site.data.main_features.title}}</h2>

        <div class="d-flex">
            <div class="col"><img src="{{site.url}}{{site.baseurl}}/assets/img/leapp.png" alt="Leapp" width="1" height="1" class="w-auto h-auto"/></div>
            <div class="col">
                <div class="card-holder">
                    {% for item in site.data.main_features.features %}
                        <div class="card">
                            <i class="fa fal fab far {{ item.icon }}"></i>
                            <h3>{{ item.title }}</h3>
                            {{ item.content }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <a href="{{site.get_started}}" class="btn btn-third d-block text-center cta m-auto mt-2 mb-3 fs-5">Get Started</a>

        <div id="opensource" class="mb-3 d-flex position-relative">
            <div class="col">
                <div class="fs-3 mb-3 text-uppercase">Open source</div>
                <div class="fs-1 mb-1 text-uppercase"><strong>NOTHING GOOD IS BUILT ALONE</strong></div>
                <div class="mb-3">How Leapp help you in solving your problem with the correct copyright.</div>
                <a href="{{site.github_url}}" class="btn btn-secondary d-inline-block mt-2 fs-5">Browse on GitHub</a>
            </div>
            <div class="col">
                <div class="numbers-holder">
                    {% for item in site.data.main_features.numbers %}
                        <div class="number text-center">
                            <h3 class="fs-1">{{ item.title }}</h3>
                            <div class="fs-5">{{ item.subtitle }}</div>
                        </div>
                    {% endfor %}
                </div>
                <img src="{{site.url}}{{site.baseurl}}/assets/img/octodex.png" alt="Octodex" width="1" height="1" class="w-auto h-auto" id="octodex"/>
            </div>
        </div>

    </div>
</section>