<section id="main-features" class="ovh">
    <div class="container">
        <h2 class="section-subtitle text-center mgb">{{site.data.main_features.title}}</h2>

        <div class="main-features-wrapper">
            <div class="col"><img src="{{site.url}}{{site.baseurl}}/assets/img/leapp.png" alt="Leapp" width="1" height="1" class="w-100 h-auto"/></div>
            <div class="col">
                <div class="card-holder">
                    {% for item in site.data.main_features.features %}
                        <div class="card">
                            <i class="fa {{item.icon}}"></i>
                            <h3>{{ item.title }}</h3>
                            {{ item.content }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <a href="{{site.get_started}}" class="btn btn-third d-block text-center cta m-auto mt-2 mb-3 fs-5">Get Started</a>
    </div>
</section>