<section id="main-features" class="ovh light">
    <div class="container">
        <div class="callout">
            <div class="c-image">
                <img src="{{site.url}}{{site.baseurl}}/assets/img/Leapp_Icon.png" alt="logo" title="logo" />
            </div>
            <div class="c-text">
                <span>We are Noovolari. We make Leapp.<br>We completely rebranded ourselves.</span>
            </div>
            <div class="c-link">
                <a href="/rebranding" target="_blank" id="rebranding_link">
                    <span class="desktop check-it-out">Check it out!</span>
                    <img src="{{site.url}}{{site.baseurl}}/assets/img/arrow-right.png" width="36">
                </a>
            </div>
        </div>

        <h2 class="section-subtitle text-center mgb">{{site.data.main_features.title}}</h2>

        <div class="main-features-wrapper">
            <div class="col"><img src="{{site.url}}{{site.baseurl}}/assets/img/leapp.png" alt="Leapp" width="1" height="1" class="w-100 h-auto"/></div>
            <div class="col">
                <div class="card-holder">
                    {% for item in site.data.main_features.features %}
                        <div class="card">
                            <i class="fa {{item.icon}}"></i>
                            <div>
                                <h3>{{ item.title }}</h3>
                                {{ item.content }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <a href="{{site.get_started}}" id ="install-from-features" target="_blank" class="btn btn-outline-secondary d-block text-center cta m-auto mt-2 mb-3">Install Leapp</a>
    </div>
</section>
