<nav>
    <div class="container">
        <div>
            <img src="{{ site.url }}{{site.baseurl}}/assets/img/logo-mobile.png" alt="logo of Leapp" title="logo of Leapp" class="navbar-img-mobile" />
            <img src="{{ site.url }}{{site.baseurl}}/assets/img/logo.png" alt="logo of Leapp" title="logo of Leapp" class="navbar-img" />
        </div>
        <ul>
            <li><a title="Features" href="#features">Features</a></li>
            <!--<li><a title="Blog" href="{{site.blog_url}}">Blog</a></li>-->
            <!--<li><a title="Docs" href="{{ site.url | absolute_url}}{{site.baseurl}}/documentation">Docs</a></li>-->
            <!--<li><a title="Contributing" href="{{ site.url | absolute_url}}{{site.baseurl}}/contributing">Contributing</a></li>-->
            <li><a title="Roadmap" target="_blank" href="{{site.github_roadmap_url}}">Roadmap</a></li>
            <li><a title="Download Leapp" target="_blank" href="{{site.github_download_url}}" class="download-now tag-manager-download">Download now</a></li>
            <!--<li><a title="Twitter" href="{{site.twitter_url}}"><i class="fab fa-twitter"></i></a></li>-->
            <!--<li><a title="Facebook" href="{{site.facebook_url}}"><i class="fab fa-facebook"></i></a></li>-->
            <li><a style="border-radius: 5px; color:#080B38" title="Project Github" target="_blank" href="{{site.github_url}}" class="navbar-social"><i class="fab fa-github"></i></a></li>
        </ul>
    </div>
</nav>
