<section id="navbar-container">
    {% include topbar.html %}
    <nav>
        <div class="container">
            <div id="logo-container">
                <a href="/"><img src="{{ site.url }}{{site.baseurl}}/assets/img/leapp.svg" alt="Leapp" width="150" height="48" id="logo"/></a>
            </div>
            <a href="javascript:void(0);" id="hamburger">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="navigation" class="navigation-subcategory">
                {% for nav in site.data.menu-header.menu %}
                {% if nav.subcategories != null %}
                <li>
                    <a title="{{ nav.title }}" href="{{ nav.href }}"> {{ nav.title }}</a>
                    <div class="submenu-wrapper d-none">
                        <ul class="submenu">
                            {% for subcategory in nav.subcategories %}
                            <li><a title="{{ subcategory.subtitle }}" href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% else %}
                <li>
                    <a href="{{ nav.href }}">{{ nav.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <div id="cta">
                <a title="{{site.data.menu-header.cta.title}}" onclick="{{site.data.menu-header.cta.action}}">{{site.data.menu-header.cta.title}}</a>
                <ul  class="navigation-subcategory">
                    {% for nav in site.data.menu-header.cta %}
                    {% if nav.subcategories != null %}
                        <li>
                            <a title="{{ nav.title }}" > {{ nav.title }}</a>
                            <div class="submenu-wrapper d-none">
                                <ul class="submenu">
                                    {% for subcategory in nav.subcategories %}
                                    <li><a title="{{ subcategory.subtitle }}" href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% else %}
                    <li>
                        <a onclick="{{nav.action}}">{{ nav.title }}</a>
                    </li>
                    {% endif %}

                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</section>
