<section id="navbar-container">
    {% include topbar.html %}
    <nav>
        <div class="container">
            <div id="logo-container">
                <a href="/"><img src="{{ site.url }}{{site.baseurl}}/assets/img/logo.png" alt="Leapp" width="100" height="47" id="logo"/></a>
            </div>
            <a href="javascript:void(0);" id="hamburger">
                <i class="fa fa-bars"></i>
            </a>
            <div class="clearfix"></div>
            <ul id="navigation">
                <li><a title="Features" href="/#features" class="anchor">Features</a></li>
                <li><a title="Release" href="/releases">Releases</a></li>
                <li><a title="Roadmap" target="_blank" rel='noopener' href="{{site.github_roadmap_url}}">Roadmap</a></li>
                <li><a title="Suppport" href="/support">Enterprise Support</a> <div id="new">NEW</div></li>
                <!-- <li><a title="Download Leapp" target="_blank" rel='noopener' href="{{site.github_download_url}}" class="download-now">Download now</a></li> -->
                <!--<li><a title="Blog" href="{{site.blog_url}}">Blog</a></li>-->
                <!--<li><a title="Docs" href="{{ site.url | absolute_url}}{{site.baseurl}}/documentation">Docs</a></li>-->
                <!--<li><a title="Contributing" href="{{ site.url | absolute_url}}{{site.baseurl}}/contributing">Contributing</a></li>-->
                <!--<li><a title="Twitter" href="{{site.twitter_url}}"><i class="fab fa-twitter"></i></a></li>-->
                <!--<li><a title="Facebook" href="{{site.facebook_url}}"><i class="fab fa-facebook"></i></a></li>-->
                <!-- <li><a style="border-radius: 5px; color:#080B38" title="Project Github" target="_blank" rel='noopener' href="{{site.github_url}}" class="navbar-social"><i class="fab fa-github"></i></a></li> -->
            </ul>
        </div>
    </nav>
</section>