<section id="plans">
    <div class="container">
        <h2 class="title">{{site.data.plans.title}}</h2>
        <h3 class="subtitle">{{site.data.plans.subtitle}}</h3>

        <div id="cards-wrapper">
            {% for c in site.data.plans.cards %}
                <div class="card {% if forloop.first %} orange {% endif %}">
                    <div class="card-type">{{c.card_type}}</div>
                    <div class="card-title"><span>{{c.card_title}}</span></div>
                    <div class="card-subtitle">{{c.card_subtitle}}</div>

                    <ul class="card-option">
                        {% for elm in c.card_element %}
                            <li>{{elm.label}}</li>
                        {% endfor %}
                    </ul>
                    
                    <a href="{{c.card_download_url}}" class="btn d-i-block mt-1" {{c.card_download_target}}>
                        <i class="fa {{ c.card_download_icon }}"></i> {{c.card_download_label}}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>