<section id="listwrapper">
    <div class="container small plugin-container">

        <h2 class="section-title">{{site.data.plugins_data.title}}</h2>
        {% if site.data.plugins_data.subtitle != null %}
        <h3 class="mb-3">{{site.data.plugins_data.subtitle}}</h3>
        {% endif %}
        <div class="search-container">
            <input id="plugin-query-input" type="text" placeholder="Search Leapp plugins..." class="search-button-input-box">
            <i id="plugin-query-button" class="fal fa-search"></i>
        </div>
        <div id="listPlugins" class="plugin-flex-container loading"></div>
    </div>
</section>

<link rel="stylesheet" type="text/css" href="{{ site.url | absolute_url }}{{site.baseurl}}/assets/css/vendor/star-rating-svg.css">
