<section class="light">
    <div class="container container-plugin-hero-bottom">

        <div id="opensource" class="position-relative">
            <div class="col-plugin-hero-bottom">
                <div class="fs-3 mb-3 text-uppercase subtitle-mod">BUILD YOUR OWN PLUGIN</div>
                <div class="fs-1 mb-1 text-uppercase title-mod"><strong>ADD YOUR OWN ACTIONS</strong></div>
                <div class="mb-3">Contribute to the Leapp project by sharing the actions you need in the App in a click</div>
                <a href="{{page.hero_href}}" class="btn btn-secondary mt-2 mb-2 browse">Create your own plugin</a>
            </div>
            <div class="col">
                <img src="{{site.url}}{{site.baseurl}}/assets/img/octocat-plugins.svg" alt="Octodex" width="1" height="1" class="w-auto h-auto" id="octoplugins"/>
            </div>
        </div>

    </div>
</section>