<section id="listwrapper">
    <div class="container small">

        
        <h2 class="section-title">{{site.data.plugins_data.title}}</h2>
        {% if site.data.plugins_data.subtitle != null %}
        <h3 class="mb-3">{{site.data.plugins_data.subtitle}}</h3>
        {% endif %}

        <div id="listPlugins" class="key-block-wrapper loading"></div>

        {% if site.data.plugins_data.features.size > 0 %}
            <div class="key-block-wrapper d-none">
                {% for item in site.data.plugins_data.features %}
                    <div class="key-block">
                        <!-- <i class="{{item.icon}}"></i> -->
                        {% if item.image | strip_newlines != "" %}
                            <div class="image">
                                <img src="{{site.url}}{{site.baseurl}}/assets/img/plugins/{{item.image}}" alt="Step {{forloop.index}}" class="d-block m-auto mb-2">
                            </div>
                        {% endif %}
                        <h4>{{ item.title }}</h4>
                        <div class="author mt-1"><strong>Autore:</strong> {{item.author}}</div>
                        <div class="pubdate"><strong>Data:</strong> {{item.pubdate}}</div>
                        <div class="updatedate mb-1"><strong>Aggiornato:</strong> {{item.updatedate}}</div>
                        <div class="content">
                            {{item.content}}
                            <a href="{{item.url}}" class="btn btn-outline-secondary d-inline-block mt-2 w-100 text-center">Open in Leapp</a>
                        </div>
                        <div class="my-rating mt-1" data-rating="{{forloop.index}}"></div>
                    </div>
                    {% if forloop.index == 3 %}
                        <div class="break"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="container-dark">
        <div class="container small">
            
            <h2 class="section-title white">Want to contribute with your own plugin?</h2>
            <h3 class="mb-2 white">Drag you .zip file here.</h3>
            
            <div class="dropzone-wrapper">
                <div class="col sx">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Accusantium impedit distinctio at repellat maiores sint soluta deserunt eligendi, aspernatur magnam deleniti ut vitae in qui exercitationem cupiditate reprehenderit similique.</p>
                    <ol class="ml-1">
                        <li>Occaecat reprehenderit commodo tempor excepteur sint occaecat.</li>
                        <li>Veniam culpa consectetur aute dolore ea.</li>
                        <li>Est do nisi do est quis consequat.</li>
                        <li>Ex enim incididunt consectetur est ex et.</li>
                    </ol>
                </div>
                <div class="col dx">
                    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
                    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
                    <form action="{{site.baseurl}}/assets/file-upload" class="dropzone" id="my-awesome-dropzone"></form>
                    <!-- <input type="file" name="file" class="mb-5"/> -->
                    <script>
                        // Note that the name "myDropzone" is the camelized
                        // id of the form.
                        Dropzone.options.myDropzone = {
                            accept: function(file, done) {
                            if (file.nameitems.includes(".zip")) {
                                done("Naha, you don't.");
                            }
                            else { done(); }
                            }
                        };
                    </script>
                </div>
            </div>

        </div>
    </div>
</section>

<link rel="stylesheet" type="text/css" href="{{ site.url | absolute_url }}{{site.baseurl}}/assets/css/vendor/star-rating-svg.css">