
<div class="center">
    <div id="pricing" class="pricing-anchor"></div>
    <h4>PRICING</h4>
    <br>
    <h2>COMPARE OUR PLANS</h2>
    <br>
    <p>Integrate Leapp with your current access methodology.</p>
    <br>
    <div class="toggle-prices">
        <label class="switch">
            <input type="checkbox" checked>
            <div class="slider" onclick="$('.price-value').toggleClass('hidden');">
                <span>Monthly</span>
                <span>Yearly (17% discount)</span>
            </div>
        </label>

    </div>
    <br>
    <div class="best-discount-ever">EARLY PROMO (33% additional discount)</div>
</div>


<div class="plans-group-container">
    <div class="plan plan-free">
        <div class="plan-header">
            <span>Community</span>
            <p>Open-source version with local workspace</p>
        </div>
        <div class="plan-body">
            <div class="price-container">
                <span class="price-value">FREE</span>
            </div>
            <div class="cta-button free"><a href="https://github.com/Noovolari/leapp" target="_blank">VIEW REPOSITORY</a></div>
            <div class="early-access-link">&nbsp;</div>
            <ul class="plan-features">
                <li>
                    <span class="check-mark-icon"><img src="{{ site.url }}{{site.baseurl}}/assets/img/CheckCircle.svg" alt="" title=""></span>
                    <span>Open-source version with local workspace</span>
                </li>
                <li>
                    <span class="check-mark-icon"><img src="{{ site.url }}{{site.baseurl}}/assets/img/CheckCircle.svg" alt="" title=""></span>
                    <span>Local workspace with device encryption</span>
                </li>
                <li>
                    <span class="check-mark-icon"><img src="{{ site.url }}{{site.baseurl}}/assets/img/CheckCircle.svg" alt="" title=""></span>
                    <span>Automatic credentials management</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="plan plan-pro">
        <div class="plan-header">
            <span>Pro</span>
            <p>Lock your Leapp Client and sync with unlimited devices</p>
            <small class="lifetime-deal">LIFETIME&nbsp;DEAL</small>
        </div>
        <div class="plan-body">
            <div class="price-container">
                <span class="price-value pro">
                  <small class="full-price">89$</small><small class="discounted-price">59$</small>
                  <small class="micro-small">4.92$ per Month, billed yearly</small>
                </span>
                <span class="price-value pro hidden">
                  <small class="full-price">8.99$</small><small class="discounted-price">5.99$</small>
                  <small class="micro-small">Billed monthly</small>
                </span>
            </div>

            <div class="cta-button pro"><a href="{{ site.url }}{{site.baseurl}}/download/desktop-app" target="_blank">GET THE APP</a></div>
            <div class="early-access-link">&nbsp;</div>

            <ul class="plan-features">
                <li>
                    <span class="check-mark-icon"><img src="{{ site.url }}{{site.baseurl}}/assets/img/CheckCircle.svg" alt="" title=""></span>
                    <span class="all-free-features">Lock your Leapp access with Username and Password</span>
                </li>
                <li>
                    <span class="check-mark-icon"><img src="{{ site.url }}{{site.baseurl}}/assets/img/CheckCircle.svg" alt="" title=""></span>
                    <span>Create an encrypted backup of your Configuration</span>
                </li>
                <li>
                    <span class="check-mark-icon"><img src="{{ site.url }}{{site.baseurl}}/assets/img/CheckCircle.svg" alt="" title=""></span>
                    <span>Bring your Leapp configuration on every device</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="plan plan-team" >
        <div class="plan-header">
            <span>Business</span>
            <p>Collaborate with your team and centralize Cloud Access</p>
        </div>
        <div class="plan-body">
            <div class="price-container">
                <span class="price-value">Early access</span>
            </div>
            <div class="cta-button business"><a href="{{ site.url }}{{site.baseurl}}/solutions/business" target="_blank">GET EARLY ACCESS</a></div>
            <div class="early-access-link">
                <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/noovolari/leapp-demo?hide_landing_page_details=1&hide_gdpr_banner=1'});return false;">Or request a Demo Trial</a>
            </div>
            <ul class="plan-features">
                <li>
                    <span class="check-mark-icon"><img src="{{ site.url }}{{site.baseurl}}/assets/img/CheckCircle.svg" alt="" title=""></span>
                    <span>Team collaboration and management</span>
                </li>
                <li>
                    <span class="check-mark-icon"><img src="{{ site.url }}{{site.baseurl}}/assets/img/CheckCircle.svg" alt="" title=""></span>
                    <span>Leapp session sharing with team members</span>
                </li>
                <li>
                    <span class="check-mark-icon"><img src="{{ site.url }}{{site.baseurl}}/assets/img/CheckCircle.svg" alt="" title=""></span>
                    <span>Centralized point of access for the Company</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="plan plan-enterprise">
        <div class="plan-header">
            <span>Enterprise</span>
            <p>Create and govern your Cloud Operations platform</p>
        </div>
        <div class="plan-body">
            <div class="price-container">
                <span class="price-value">Contact Sales</span>
            </div>
            <div class="cta-button enterprise" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/noovolari/leapp-demo?hide_landing_page_details=1&hide_gdpr_banner=1'});return false;">REQUEST A DEMO</div>
            <div class="early-access-link">
                <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/noovolari/leapp-demo?hide_landing_page_details=1&hide_gdpr_banner=1'});return false;">Or request a Demo Trial</a>
            </div>
            <ul class="plan-features">
                <li>
                    <span class="check-mark-icon"><img src="{{ site.url }}{{site.baseurl}}/assets/img/CheckCircle.svg" alt="" title=""></span>
                    <span>Standardized Leapp-only cloud Access</span>
                </li>
                <li>
                    <span class="check-mark-icon"><img src="{{ site.url }}{{site.baseurl}}/assets/img/CheckCircle.svg" alt="" title=""></span>
                    <span>Certified company plugins and auditing</span>
                </li>
                <li>
                    <span class="check-mark-icon"><img src="{{ site.url }}{{site.baseurl}}/assets/img/CheckCircle.svg" alt="" title=""></span>
                    <span>Report and security auditing and compliance</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
