<section id="slider" class="bg-grey">
    <div class="container">
        <div id="tweetSlider">
            {% for quote in site.data.quotes.quotes %}
                {% if quote.quoteUrl != null %}
                    <div>
                        <div class="title">{{ quote.author }} <a href="{{ quote.quoteUrl }}" target="_blank" rel="noopener"><i class="fab fa-{{ quote.channel}}"></i></a></div>
                        <div class="subtitle">{{ quote.authorRole }}</div>
                        <div class="text">{{ quote.citation }}</div>
                    </div>
                {% else %}
                    <div>
                        <div class="title">{{ quote.author }} <i class="fab fa-{{ quote.channel}}"></i></div>
                        <div class="subtitle">{{ quote.authorRole }}</div>
                        <div class="text">{{ quote.citation }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
