<div class="container-fluid" id="sponsors">
    <div class="container section-title">
        <h2 class=" text-center">
             <strong>OVER 8000 BUILDERS ARE USING LEAPP EVERYDAY</strong>
        </h2>
        <h4> Powering the best companies and teams, from solo consultant to established enterprises.</h4>
    </div>
    <div class="container container-flex sponsors-section no-margin">
        {% for company in site.data.sponsors.company %}
            <a href="{{company.url}}">
                <img class="sponsor-image" src="{{site.baseurl}}/assets/img/trusted-by/{{ company.image }}" alt="sponsor-image">
            </a>
        {% endfor %}
    </div>
</div>
