<section id="steps" class="dark white">
    <div class="container">
        {% if site.data.steps.title != ""  %}
            <h2 class="section-title white">{{site.data.steps.title}}</h2>
        {% endif %}
        <div class="steps-holder">
            {% for step in site.data.steps.step %}
                {% capture c %}{% cycle 'reverse', '' %}{% endcapture %}
                {% assign current = 'active' %}
                
                <div class="step space-beetween mb-3 {{c}}" id="step{{forloop.index}}">
                    <div class="col asset">
                        {% if step.video | strip_newlines != "" %}
                            <div class="video">
                                <video {% if step.controls == true %}controls="controls"{% endif %} {% if step.autoplay == true %}autoplay="autoplay"{% endif %} {% if step.muted == true %}muted="muted"{% endif %} loop="loop"><source src="{{site.url}}{{site.baseurl}}/assets/videos/{{step.video}}" type="video/mp4" /></video>
                            </div>
                        {% endif %}
                        {% if step.image | strip_newlines != "" %}
                            <div class="image">
                                <img src="{{site.url}}{{site.baseurl}}/assets/img/{{step.image}}" alt="Step {{forloop.index}}">
                            </div>
                        {% endif %}
                    </div>
                    <div class="col content">
                        <div class="steps-navigation mb-5">
                            <a href="#step1" class="{% if forloop.index == 1 %} {{current}} {% endif %} d-inline-block pr-2 fs-4">STEP 1</a>
                            <a href="#step2" class="{% if forloop.index == 2 %} {{current}} {% endif %}d-inline-block pr-2 fs-4">STEP 2</a>
                            <a href="#step3" class="{% if forloop.index == 3 %} {{current}} {% endif %}d-inline-block pr-2 fs-4">STEP 3</a>
                        </div>

                        <h2>{{ step.title }}</h2>
                        {{step.content}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>