<p>One single panel to orchestrate Developer Cloud access.</p>
<p>Get a complete landscape on all the Multi-Cloud access of your team.</p>
<div>
    <a  class="btn btn-outline-primary d-inline-block mt-2" id="open-modal">Request Closed Beta access</a>
    <a href="javascript:void(0);" data-action="https://formspree.io/f/maykyejj" class="btn btn-secondary d-inline-block mt-2 modal modal-button">See the Demo</a>
    <section class="closed-beta-form-modal">
        <div class="popup-menu">
            <i class="fa-solid fa-x close-icon"></i>
            <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js">

            </script>
            <iframe class="airtable-embed airtable-dynamic-height"
                    frameborder="0" height="953"
                    onmousewheel="" src="https://airtable.com/embed/appVgheOl6G2JIvur/shrZjPqES5guPFDRp?backgroundColor=redDusty" style="background: transparent; border-radius: 15pxr" width="100%">

            </iframe>
        </div>
    </section>
</div>

