<section id="slider" class="bg-grey">
    <div class="container">
        <div id="tweetSlider">
            <div>
                <div class="title">Sheldon Hull <a href="https://youtu.be/-Jn53731i7s?t=2055" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a></div>
                <div class="subtitle">Senior Software Engineer (AWS/Go) @ Thycotic</div>
                <div class="text">Leapp to me is simplification, so I can focus on other things there were more complicated instead of wrestling on with my credentials file</div>
            </div>
            <div>
                <div class="title">Maciej Radzikowski <a href="https://twitter.com/radzikowski_m/status/1363060648566018054"><i class="fab fa-twitter"></i></a></div>
                <div class="subtitle">Software Developer @ <a href="https://merapar.com/" target="_blank" rel="noopener">Merapar</a></div>
                <div class="text">Leapp for accessing AWS is just great. Must-have for anyone working on multiple AWS accounts.</div>
            </div>
            <div>
                <div class="title">Corcoran Smith <i class="fab fa-slack text-grey"></i></div>
                <div class="subtitle">Solution Architect @ Slalom Consulting</div>
                <div class="text">We are having discussions internally here about making LEAPP the defacto standard when we go into clients because it's a THING OF BEAUTY, so the more in the loop we are, the better.</div>
            </div>
        </div>
    </div>
</section>