/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body {
  font: 400 16px/1.5 -apple-system, "Open Sans", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #111; background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal;
  display: flex; min-height: 100vh; flex-direction: column;
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** Containers and contained */
nav, section, footer, .content { width: 100%; display: block; margin: 0; padding: 0; }
.container { width: 100%; max-width: 1200px; margin: 0 auto; }

/** Images */
img { max-width: 100%; vertical-align: middle; }
svg { overflow: hidden; vertical-align: middle; }

/** Figures */
figure > img { display: block; }
figcaption { font-size: 14px; }

/** Lists */
ul, ol { margin-left: 0; }
li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/** Links */
a { color: #fd2d55; text-decoration: none; }
a:visited { color: #b30f0f; }
a:hover { color: #f34040; }

/** Blockquotes */
blockquote { color: #828282; border-left: 4px solid #e8e8e8; padding-left: 15px; font-size: 18px; letter-spacing: -1px; font-style: italic; }
blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }
code { padding: 1px 5px; }
pre { padding: 8px 12px; overflow-x: auto; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Rounded effect */
.rounded { border-radius: .625rem!important; }

/** Clearfix */
.clearfix { clear: both; }

/** Buttons */
.btn, .btn-outline-primary { border-radius: .3125rem; transition: all 0.3s ease; cursor: pointer; }
.btn { color: #ffffff; background: #fd2d55; border: 2px solid #ffffff; }
.btn-lg { padding: .875rem 2.25rem; font-size: 1.25rem; line-height: 1.5;  }
.btn-outline-primary { color: #fd2d55; border: 2px solid #fd2d55; }
.btn-outline-primary:hover { color: #fff; background-color: #fd2d55; border-color: #fd2d55; }
.btn-secondary { color: #fd2d55; background: #ffffff; }
.btn-secondary:hover { color: #fd2d55; opacity: 0.9; }

/** Site header */
nav { border-bottom: 1px solid #747474; position: fixed; background: #111; color: #fff; z-index: 999; }
nav div * { display: inline-block; }
nav > div { min-height: 87px; padding: 0 5px; display:flex; flex-direction: row; justify-content: space-between; align-items: center; }
nav img.navbar-img { max-width: 64px; }
nav ul li { margin: 0 10px; }
nav a, nav i { font-weight: bold; font-size: 16px; color: #e8e8e8; transition: all 0.2s ease; }
nav i { font-size: 32px; color: #f34040; position: relative; top: 8px; }
nav a:hover { color: #828282; }
nav i:hover { color: #b30f0f; }

/** Hero unit */
#hero-unit { background: #111111; margin-top: 87px; margin-bottom: 15rem; }
#hero-unit > div { text-align: center; height: 600px; padding-top: 8rem; }
#hero-unit svg { background: 0 0!important; height: 6vw; fill: #fdfdfd; }
#hero-unit h1 { color: #ffffff; font-weight: 600; font-size: 4.5rem; margin-bottom: 1.5rem; line-height: 1; letter-spacing: -.03em; }
#hero-unit p { color: #ffffff; font-size: 1.25rem; font-weight: 400; }
#hero-unit .hero-btn-holder { margin: 4.0rem 0; }
#hero-unit .fade-up { width: 83%; margin: 0 auto; position: relative; animation-delay: 0.1s; animation: fade-up 0.4s ease-in; }
@keyframes fade-up { from { opacity: 0; top: 100px; } to { opacity: 1; top: 0; } }

/** Macro Features */
#main-features { text-align: center; margin: 6rem 0; }
#main-features .card-holder { display: flex; flex-direction: row; justify-content: space-between; }
#main-features .card-holder .card { text-align: center; width: 30%; }
#main-features i { background: rgba(253,45,85,.1)!important; color: #fd2d55; font-size: 25px; width: 64px; height: 25px; border-radius: 50%; text-align: center; padding: 20px 0; }
#main-features h2 { margin: 1rem 0 3rem; font-weight: 400; line-height: 1.2; font-size: 2.5rem; }
#main-features h3 { margin: 1rem; font-weight: 600; line-height: 1.2; font-size: 1.5rem; }
#main-features p { font-size: 1.25rem; font-weight: 400; color: #828282; }

/** Waved Quote */
#quote .up { background: #eeeeff; margin-top: 3rem; }
#quote .up svg { fill: #ffffff; transform: scaleY(-1); }
#quote .center { background: #eeeeff; min-height: 100px; }
#quote .down  { background: #eeeeff; margin-bottom: 3rem; }
#quote .down svg { fill: #ffffff; background: 0 0!important; height: 6vw; transform: scaleX(-1); }
#quote .quote-holder { padding: 40px; text-align: center; }
#quote .quote-holder h2 { font-size: 3.5rem; font-weight: 400; letter-spacing: -.03em; line-height: 1.1; }
#quote .quote-holder p { font-size: 2rem; }

/** Features */
#features .features-holder .feature { margin: 80px 0; display: flex; flex-direction: row; }
#features .features-holder video { width: 100%;}
#features .features-holder .video { width: calc(66.67% - 40px); padding: 0 20px; display: flex; }
#features .features-holder .content { width: calc(33.33% - 40px); text-align: left; padding: 0 20px; display: flex; flex-direction: column; justify-content: center; }
#features .features-holder .feature.reverse { display: flex; flex-direction: row-reverse; }
#features .features-holder .feature.reverse .content { text-align: right; }
#features .features-holder h3 { margin-bottom: 1rem; font-size: 2rem; font-weight: 600; line-height: 1.2; }
#features .features-holder p { font-size: 1.25rem; font-weight: 400; margin-top: 0; margin-bottom: 1rem; }

/** Footer */
footer { background: #111111; text-align: center; padding: 6rem 0 .375rem!important; }
footer ul { display: flex; flex-wrap: wrap; padding-left: 0; margin-bottom: 0; list-style: none; justify-content: center; }
footer span { color: rgba(255,255,255,.7); font-weight: 600; line-height: 1.1875rem; font-size: .75rem; }
footer a { color: rgba(255,255,255,.7); transition: color 0.3s ease; }
footer a:hover { color: #ffffff; }
footer ul li a { display: block; padding: .5rem 1rem; }
footer ul li a i { flex-shrink: 0; font-size: 24px; }
footer .footer-cta { background-size: cover; background-position: center; margin-bottom: 3rem; padding: 40px; }
footer .footer-cta h2 { float: left; color: #ffffff; padding: 13px 0 0; }
footer .footer-cta a { float: right; }