@import "variables";

.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;



  .blog-post {
    width: 350px;
    position: relative;
    img {
      width:350px;
    }

    a {
      color: #1D1B25;
    }

    h5 {
      font-size: 23px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px; /* 112% */
    }

    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    p {
      line-clamp: 3 ;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

}
