.callout {
    @extend %callout;

    .c-image {
        color: #436060;

        img {
            width: 80px;
            height: 80px;
        }

    }

    .c-text {
        color: #436060;
        font-size: 15px;
        width: 90%;
        margin-left: 15px;
    }

    .c-link {
        color: #436060;
        font-size: 16px;
        width: 16%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;

        a {
            color: #436060;
            transition: opacity 0.2s ease;
            cursor: pointer;

            &:hover {
                color: #436060;
                opacity: 0.8;
            }
        }

        .check-it-out {
            display: none;
            margin-right: 10px;
        }

        img {
            position: relative;
            top: 5px;
        }
    }

    @include breakpoint('md') {
        .c-image {
            img {
                width: 150px;
                height: 150px;
            }
        }

        .c-text {
            font-size: 25px;
            width: 64%;
        }

        .c-link {
            font-size: 20px;
            width: 16%;

            .check-it-out {
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
}
