@import "variables";

.claims-container{
  color: #1D1B25;
  text-align: center;
  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .magic {
    transition: color 0.5s ease-in, text-decoration 1s ease-in;
  }

  .magic.activated {
    text-decoration: line-through;
    color: #969696;
  }
  span.pink.activated {
    text-decoration-color: #FF6EEE;
  }
}
