#cli-hero {

    &.container {
        position: relative;
        padding-bottom: 50px;

        @include breakpoint('md') {
            padding-bottom: 50px;
        }
    }

    .callout {
        @extend %callout;

        h1 {
            font-weight: 600;
            font-size: 38px;
            position: relative;
            text-align: center;
            color: #495F60;
        }

        h3 {
            position: relative;
            text-align: center;
            font-size: 20px;
            color: #495F60;

            &:last-of-type {
                margin-bottom: 25px;
            }
        }

        a {
            transition: all 0.3s ease;
            display: block;
            position: relative;
            text-align: center;
            font-size: 20px;
            color: #495F60;
            margin-bottom: 5px;

            &.docs-link {
                margin-bottom: -5px;
            }

            img {
                position: relative;
                top: 5px;
            }
        }

        @include breakpoint('md') {
            padding: 30px 60px;
        }
    }

    .install-cli {
        display: flex;
        justify-content: space-around;
        margin-bottom: 25px;

        span {
            display: inline-block;
            color: #cbc7c7;
        }

        .brew,
        .docs {
            width: 405px;
            text-align: center;
            background-color: #212123;
            border-radius: 3px;
            padding: 10px 40px;
        }

        .docs {
            transition: all 0.3s ease;
            font-weight: 600;
            background-color: #f4f4f6;
            color: #354a4b;
            user-select: none;
            cursor: pointer;

            /*color: #1D1B25;*/
            /*box-shadow: 5px 4px #888888;*/
            /*&:hover {
        transition: all 0.1s ease;
        transform: translate(1px, 1px);
        box-shadow: 4px 3px #888888;
      }*/
            &:hover {
                transition: all 0.3s ease;
                opacity: 0.75;
            }
        }

        .brew {
            font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

            i.fa-clone {
                display: inline-block;
                position: relative;
                top: -1px;
                right: -10px;
            }
        }

        .terminal-caret {
            margin-top: 0;
            margin-bottom: 0;
            user-select: none;
            color: #4DA7DE;
        }

        a {
            display: unset;
            font-size: unset;
            margin-bottom: 0;
        }
    }

    .view-installation-instructions {
        margin-top: 10px;

        a:hover {
            transition: all 0.2s ease;
            opacity: 0.7;
        }
    }

    /* Media queries */

    @media (max-width: 1150px) {
        .callout {
            width: 70%;
            margin: 0 auto;

            h1 {
                font-size: 31px;
            }

            h3 {
                font-size: 18px;
            }

            a {
                font-size: 18px;
            }
        }

        .docs {
            font-size: 16px;
        }

        .install-cli {
            display: initial;
            color: red;
            margin-bottom: 0;
        }

        .install-cli .brew,
        .install-cli .docs {
            display: block;
            margin: 0 auto 10px;
        }
    }

    @media (max-width: 820px) {
        padding-bottom: 40px !important;

        .callout {
            width: 90%;
            margin: 0 auto;

            a {
                font-size: 16px;
            }
        }

        h1 {
            font-size: 28px !important;
            line-height: 40px;
        }

        h3 {
            font-size: 16px !important;
        }

        .docs,
        .brew {
            width: 74% !important;
            font-size: 15px;
        }

        .arrow {
            top: 2px !important;
            width: 23px;
        }
    }
}