#cli-install-container {
  background-image: radial-gradient(farthest-corner at 50% 0, $violet-light 0%, $violet-dark 70%);

  .container {
    position: relative;
    padding-bottom: 100px!important;
    padding-top: 100px;
    @include breakpoint('md') {
      padding-bottom: 50px;
    }
  }

  .callout {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 5px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    z-index: 2;
    background: #A4D6D5;
    padding: 15px;
    right: 20px;
    left: 20px;

    h1 {
      font-weight: 600;
      font-size: 38px;
      position: relative;
      text-align: center;
      color: #495F60;
    }

    h3 {
      position: relative;
      text-align: center;
      font-size: 20px;
      color: #495F60;
      &:last-of-type {
        margin-bottom: 15px;
      }
    }

    a {
      transition: all 0.3s ease;
      display: block;
      position: relative;
      text-align: center;
      font-size: 20px;
      color: #495F60;
      margin-bottom: 5px;
      &:hover {
        transition: all 0.3s ease;
        opacity: 0.7;
      }
    }

    .c-text {
      color: #436060;
      font-size: 15px;
      width: 90%;
      margin-left: 15px;
    }

    .c-link {
      color: #436060;
      font-size: 16px;
      width: 16%;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: center;

      a {
        color: #436060;
        transition: opacity 0.2s ease;
        cursor: pointer;
        &:hover {
          color: #436060;
          opacity: 0.8;
        }
      }

      .check-it-out {
        display: none;
        margin-right: 30px;
      }

      img {
        position: relative;
        top: 5px;
      }
    }

    top: -60px;

    @include breakpoint('md') {
      padding: 30px 60px;
      .c-image {
        img {
          width: 150px;
          height: 150px;
        }
      }
      .c-text {
        font-size: 25px;
        width: 64%;
      }
      .c-link {
        font-size: 20px;
        width: 16%;

        .check-it-out {
          display: inline-block;
          margin-right: 30px;
        }
      }
    }
  }

  .arrow {
    position: relative;
    top: 5px;
    margin-left: 15px;
  }

  .install-cli {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    span {
      margin-top: 10px;
      margin-bottom: 10px;
      display: inline-block;
      color: #cbc7c7;
    }
    .brew, .docs {
      width: 400px;
      text-align: center;
      background-color: #212123;
      border-radius: 3px;
      padding: 10px 40px;
    }
    .docs {
      transition: all 0.3s ease;
      font-weight: 600;
      background-color: #f4f4f6;
      /*color: #1D1B25;*/
      color: #495F60;
      /*box-shadow: 5px 4px #888888;*/
      user-select: none;
      cursor: pointer;
      /*&:hover {
        transition: all 0.1s ease;
        transform: translate(1px, 1px);
        box-shadow: 4px 3px #888888;
      }*/
      &:hover {
        transition: all 0.3s ease;
        opacity: 0.8;
      }
    }
    .brew {
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    }
    .terminal-caret {
      margin-top: 0;
      margin-bottom: 0;
      user-select: none;
      color: #4DA7DE;
    }
    a {
      display: unset;
      font-size: unset;
      margin-bottom: 0;
    }
  }
}