#cli-install-container {
  background-image: radial-gradient(farthest-corner at 50% 0, $violet-light 0%, $violet-dark 70%);

  padding-top: 50px;
  padding-bottom: 50px;

}

/* Media queries */

@media (max-width: 820px) {
  #cli-install-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}