#cli-main-features {

  h1 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 40px;
    &:first-of-type {
      margin-top: 20px;
    }
    &:last-of-type {
      margin-bottom: 80px;
    }
  }

  .card-holder {
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    gap: 170px;
    margin-bottom: 10px;
    .main-features-link a:hover {
      transition: all 0.3s ease;
      opacity: 0.6;
    }
    &:last-of-type {
      margin-bottom: 60px;
    }

    div.card {
      width: 300px;
      margin-bottom: -5px;
      .list-item-icon {
        font-size: 28px;
        margin-bottom: 13px;
      }
    }

    p.main-features-title {
      width: 205px;
      font-size: 22px;
      font-weight: 700;
    }

    h2.main-features-content {
      font-size: 16px;
      width: 200px;
    }

    div.main-features-link {
      width: 300px;
      font-size: 16px;
      text-decoration: none;
      a {
        color: #080b38!important;
        text-decoration: underline;
        margin-right: 10px;
      }
    }
  }
}