#contributor {
    .title {
        font-weight: 700;
        color: $violet-light;
    }

    .subtitle {
        color: $violet-light;
    }

    #contributor-wrapper {
        @include breakpoint('md') {
            display: flex;
            justify-content: space-around;
            align-content: center;
        }

        .contributor {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 250px;
            padding: $global-padding-mid;
            text-align: center;
            margin: $global-padding-default 0;
            @include box-shadow();
            @include border-radius(10px);

            @include breakpoint('md') {
                width: 30%;
                margin: $global-padding-default;
            }

            .contributor-title {
                color: $white;
                padding-bottom: 20px;
                font-weight: 600;
            }

            .contributor-icon {
                font-size: 70px;
                line-height: 80px;
                margin-bottom: $global-padding-small;
                color: $white;
            }

            .contributor-subtitle {
                color: $white;
            }

            .contributor-button {
                padding: 10px 45px;
            }
        }
    }

}
