/** Features */
#features-detail {
    padding-top: 50px;
    /* background: $violet-dark; */
    /*background-image: radial-gradient(farthest-corner at 50% 0, $violet-light 0%, $violet-dark 70%);*/

    .steps-navigation {
        a {
            opacity: 0.3;
            color: #1D1B25;

            &:hover,
            &.active {
                opacity: 1;
            }
        }
    }

    h3 {
        color: #1D1B25;
        font-weight: 600;
        font-size: 35px;
        line-height: 1;
        letter-spacing: -.03em;
        text-align: center;

        @include breakpoint('md') {
            font-size: 52px;
        }
    }

    .content-text {
        display: flex;
        gap: 15px;
    }

    .feature {
        .avatar {
            position: absolute;
            width: 80%!important;
            top: -55%;
            right: -47%;
            img {
                width: 500px;
            }
        }

        .feature-image {
            position: relative;
            z-index: 2;
        }

        /* align-items: center; */
        .image {
            img {
                width: 100%;
                border-radius: 30px;
            }
        }

        @include breakpoint('md') {
            display: flex;
            justify-content: space-between;
            position: relative;

            .col {
                width: 75%;
                padding: 20px 0;
                box-sizing: border-box;
            }

            .image {
                position: relative;
            }

        }

        .asset {
            padding: 0;
        }

        h2 {
            margin-bottom: 2rem;
            font-size: 35px;
            font-weight: 600;
            line-height: 1.2;
            width: 60%;
        }

        .f-icon {
            min-width: 36px;
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 36px;
        }

        .f-icon.pink {
            background-color: #F5D6F5;
        }

        .f-icon.yellow {
            background-color: rgba(255, 158, 0, 0.3);
        }

        .f-icon.green {
            background-color: rgba(44, 170, 162, 0.3);
        }

        .pink{
            color: #FF6EEE;
        }
        .yellow {
            color: #FF9E00;
        }
        .green {
            color: #2CAAA2;
        }
        .link-to-feature {
            padding-left: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            font-size: 18px;
            text-decoration: underline;
        }

        ul {
            margin-left: $global-padding-default;
        }

        p {
            color: #1D1B25;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .col.content .cli-home-link {
            color: unset;
            font-weight: 600;
            text-decoration: underline;
        }
    }
}
