#comparison-features {
  margin-top: 50px;
  .title {
    color: #1D1B25;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
}
