footer { 
    /* background: $black; */ 
    background-image: radial-gradient(farthest-corner at 50% 0, $violet-light 0%, $violet-dark 70%);
    color: $white;
    text-align: center;

    @include breakpoint('md') {
        text-align: left;
    }

    ul { 
        padding-left: 0; margin-bottom: 0; list-style: none;

        @include breakpoint('md') {
            align-items: center;
            justify-content: space-between; 
            display: flex;
            flex-wrap: wrap; 
        }
        @include breakpoint('0','md') {
            span { display: block; }
        }

        li { position: relative; }
        a:link, a:visited { color: $white; display: inline-block; }    
    }
    
    .footer-cta { 
        @include breakpoint('md') {
            display: flex;
            justify-content: space-between; 
        }

        a:nth-child(2){
            padding-top: 10px;
        }
    }
    hr { display: block; height: 1px; background: $white; border: 0; margin: $global-padding-default 0; }
    .footer-besharp { 
        margin: 20px 0;
        display: inline-block;
        @include breakpoint('md') {
            position: absolute; 
            top: 0; 
            right: -80px; 
            margin: 0;
        }
    }
}