footer {
    /* background: $black; */
    background-image: radial-gradient(36.51% 46.22% at 50.52% -0.00%, #52488D 0%, #090810 100%);

    color: $white;
    text-align: center;
    @include breakpoint('md') {
        text-align: left;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        @include breakpoint('md') {
            align-items: center;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
        }

        @include breakpoint('0', 'md') {
            span {
                display: block;
            }
        }

        li {
            position: relative;
        }
        a.logo-besharp {
            margin-left: 10px;
            position: relative;
            top: 9px;
        }
        a:link,
        a:visited {
            color: $white;
            display: inline-block;
        }
    }

    hr {
        display: block;
        background: #fff0;
        margin: 20px 0;
        outline: none;
        border: none;
        border-bottom: 1px solid #4DA6DD;
    }

    .footer-cta {
        display: flex;
        justify-content: start;
        gap:30px;

        .outer-left {
            min-width: 300px;
            width: 300px;
        }

        a {
            display: inline-block;

            &:nth-child(2) {
                height: 24px;
                @include breakpoint('0','md') {
                    display: none !important;
                }
            }
        }

        .footer-besharp {
            margin: 20px 0;
            display: inline-block;

            @include breakpoint('md') {
                position: absolute;
                top: 0;
                right: -80px;
                margin: 0;
            }
        }
    }
    .footer-menu {
        ul {
            display: flex;
            position: relative;
            align-items: initial;
            gap: 30px;

            ul {
                margin-left:12px;
            }
        }
    }
}
