/** Hero unit */
#get-started {
    background: $violet;

    fieldset {
        padding: 0;
        border: 0;
    }

    .col-container {
        @include breakpoint('md') {
            display: flex;
            justify-content: space-between;
            /* align-items: center; */
            align-content: center;
        }

        .col {

            &:not(.full) {
                @include breakpoint('md') {
                    width: 49%;
                    padding: $global-padding-default;
                    box-sizing: border-box;
                }
            }

            .title {
                margin-bottom: $global-padding-default;
                font-weight: bold;

                @include breakpoint('md') {
                    font-size: 50px;
                }

                span {
                    color: $turquoise;
                }
            }

            .subtitle {
                color: $turquoise;
                font-size: 1.25rem;
                font-weight: bold;
            }

            .content {
                font-size: 20px;
            }
        }

    }

}