/** Hero unit */
#hero-unit {
    /* background: $violet-dark; */
    background-image: radial-gradient(farthest-corner at 50% 0, $violet-light 0%, $violet-dark 70%);
    padding-top: 130px;

    @include breakpoint('md') {
        padding-top: 170px;
    }

    &.home {
        .hero-unit-col-container {
            display: block;
            text-align: center;
        }

        @include breakpoint('md') {
            .hero-unit-col-container {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                height: 600px;
                text-align: initial;
            }
        }
    }

    .hero-unit-col-container {
        /* margin-top: 60px; */

        @include breakpoint('md') {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
        }

        .col {
            color: $white;

            @include breakpoint('0', 'md') {
                padding-bottom: $global-padding-default;
            }

            @include breakpoint('md') {
                width: 40%;
            }

            &.full {
                width: 100%;
            }

            .title {
                font-size: 25px;

                @include breakpoint('md') {
                    font-size: 50px;
                }

                font-weight: 700;
                line-height: 2.5rem;
                margin-bottom: $global-padding-default;
            }

            .subtitle {
                font-size: 1.25rem;
            }
        }

        #download-select {
            display: none;
        }

        #othd {
            display: block;
            margin-bottom: $global-padding-default;
        }

        .hero-title {
            @include breakpoint('md') {
                font-weight: 700;
                line-height: 2.5rem;
                font-size: 50px;
                text-transform: uppercase;
            }

            padding-bottom: $global-padding-default;
            margin-bottom: $global-padding-default;
        }

        .hero-content {
            font-size: 20px;
        }
    }

    #main-window {
        position: absolute;
        top: 0;
        right: -350px;
        width: auto;
    }

    svg {
        background: 0 0 !important;
        height: 6vw;
        fill: $grey-fd;
    }

    h2.subtitle {
        color: $white;
        line-height: 1.875rem;
        margin: 0;

        @include breakpoint('md') {
            font-size: 30px;
            font-weight: 700;
            line-height: 1rem;
        }

        a {
            color: $leapp-blue-light;
        }
    }

    h3.title {
        color: $white;

        @include breakpoint('md') {
            font-size: 50px;
            font-weight: 700;
        }
    }

    .hero-btn-holder {
        margin: 4.0rem 0;
    }

    #hero-button {
        @include breakpoint('md') {
            display: flex;
        }

        #hero-join {
            display: inline-block;

            @include breakpoint('md') {
                margin-right: 2.222rem;
            }
        }

        #hero-getarted {
            display: inline-block;
        }
    }

    .fade-up {
        width: 100%;
        margin: 0 auto;
        position: relative;
        animation-delay: 0.1s;
        animation: fade-up 0.4s ease-in;
        box-shadow: 4px 4px 26px -10px rgba(0, 0, 0, 0.64);
    }

    @keyframes fade-up {
        from {
            opacity: 0;
            top: 100px;
        }

        to {
            opacity: 1;
            top: 0;
        }
    }

}

.other-download {
    background: #25252B;
    box-sizing: border-box;
    @include border-radius(5px);
    display: inline-block;
    font-size: 0.875rem;
    padding: 5px 10px;
    text-align: center;
    width: 300px;

    @include breakpoint('0', 'md') {
        margin-bottom: $global-padding-mid;
    }
}

#download-wrapper {
    display: none;

    width: 302px;
    margin: 0 auto;

    @include breakpoint('md') {
        width: initial;
        margin: initial;
    }


    #download-container {
        @extend %flex;
        flex-wrap: wrap;
        margin: $global-padding-mid 0 10px 0;
        position: relative;
    }

    #download-label {
        a {
            background: rgba(15, 66, 105, 1);
            box-sizing: border-box;
            color: $white;
            margin-right: 2px;
            width: 250px;
            padding: 10px 20px;
            @include border-radius(5px 0 0 5px);
            cursor: pointer;
            display: inline-block;

            &:hover,
            &:focus {
                background: rgba(15, 66, 105, 0.8);
            }
        }
    }

    #download-action {
        background: rgba(15, 66, 105, 1);
        box-sizing: border-box;
        @include border-radius(0 5px 5px 0);
        color: $white;
        width: 50px;
        text-align: center;
        padding: 10px;
        cursor: pointer;

        &:hover,
        &:focus {
            background: rgba(15, 66, 105, 0.8);
        }
    }

    #download-content {
        display: none;
        background-color: $grey-f5;
        border: 1px solid $grey-cc;
        @include border-radius(5px);
        color: $violet-dark;
        position: absolute;
        top: 46px;
        width: 100%;

        table {
            width: 100%;
            border-spacing: 0;

            tr {
                &.odd {
                    background-color: $white;
                }

                td {
                    padding: $global-padding-default;
                    border-bottom: 1px solid $grey-cc;
                    box-sizing: border-box;

                    &:last-child {
                        background-color: $grey-aa;
                        text-align: center;
                        width: 60px;

                        a:link,
                        a:visited {
                            color: $violet-dark;
                        }
                    }
                }

                &.last {
                    td {
                        border: 0;
                    }
                }
            }
        }
    }
}
