/** Features */
#key-features,
#listwrapper {

    .key-block-wrapper {
        @extend %flex;
        /* justify-content: space-between; */
        align-content: flex-end;
        flex-wrap: wrap;

        .key-block {
            border: 1px solid $grey-cc;
            padding: 30px $global-padding-mid;
            margin-bottom: $global-padding-default;
            @include border-radius(10px);
                
            @include breakpoint('md') {
                background-color: $grey-fa;
                @include box-shadow();
                box-sizing: border-box;
                margin: 0 5px 5px 5px;
                width: 30%;
            }

            .fa,
            .far,
            .fas {
                display: block;
                color: $violet-light;
                font-size: 35px;
                margin-bottom: $global-padding-default;
            }

            h4 {             
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            &.leapp {
                display: none;
                background-color: $violet-dark;

                @include breakpoint('md') {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

.break {
    flex-basis: 100%;
    height: 0;
    margin-bottom: $global-padding-default;
} 
