/** Macro Features */
#main-features {

    .main-features-wrapper {
        @include breakpoint('md') {
            display: flex;
            
            .col {
                width: 50%;
                padding: 0 20px;
                box-sizing: border-box;
            }
        }
    }

    .card-holder {
        @include breakpoint('md') {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .card {
            padding-bottom: $global-padding-default;

            @include breakpoint('md') {
                width: 50%;
            }
            a {
                color: $text_color;
                text-decoration: underline;
            }
        }
    }

    i {
        @include border-radius(3px);
        background: $violet-dark;
        /* background-image: radial-gradient(farthest-corner at 50% 50%, $violet-light 0%, $violet-dark 70%); */
        color: $grey;
        font-size: 25px;
        width: 68px;
        height: 68px;
        text-align: center;
        padding-top: 23px;
        display: inline-block;
        box-sizing: border-box;
    }

    h3 {
        margin: 1.250rem 0;
        font-weight: 700;
        font-size: 1.250rem;
        
        @include breakpoint('md') {
            line-height: 1.2;
        }
    }

    p {
        font-size: 19px;
        font-weight: 300;
        color: $text_color;
        padding: 0 12%;
    }

    .cta {
        width: 150px;
    }
}