/** Macro Features */
#main-features {
    overflow: visible;

    .container {
        position: relative;
        padding-top: 100px;

        @include breakpoint('md') {
            padding-top: 200px;
        }
    }

    .callout {
        position: absolute;
        left: 20px;
        right: 20px;
        z-index: 2;
        top: -60px;

        @include breakpoint('md') {
            top: -100px;
            padding: 30px 60px;
        }
    }

    .main-features-wrapper {
        .col {
            text-align: center;
        }

        @include breakpoint('md') {
            display: flex;

            .col {
                width: 50%;
                padding: 0 20px;
                box-sizing: border-box;
                text-align: left;
            }
        }
    }

    .card-holder {
        @include breakpoint('md') {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: $global-padding-intermediate;
        }

        .card {
            padding-bottom: $global-padding-mid;

            div {
                width: 100%;
            }

            @include breakpoint('md') {
                width: 50%;

                div {
                    width: 60%;
                }
            }

            a {
                color: $text_color;
                text-decoration: underline;
            }
        }
    }

    i {
        @include border-radius(3px);
        background: $violet-dark;
        /* background-image: radial-gradient(farthest-corner at 50% 50%, $violet-light 0%, $violet-dark 70%); */
        color: $grey;
        font-size: 25px;
        width: 68px;
        height: 68px;
        text-align: center;
        padding-top: 23px;
        display: inline-block;
        box-sizing: border-box;
    }

    p.main-features-title {
        margin: 1.250rem 0;
        font-weight: 700;
        font-size: 1.250rem;

        @include breakpoint('md') {
            line-height: 1.2;
        }
    }

    h2.main-features-content {
        font: 400 16px/1.5 "Montserrat", sans-serif, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        margin-bottom: 0;
    }


    .cta {
        width: 200px;
        margin: 0 auto -20px;

        @include breakpoint('md') {
            margin: 2.222rem auto;
        }
    }
}