@media screen and (max-width: 1448px) {
  .closed-beta-form-modal {
    .popup-menu {
      width: 60%!important;
      left: 20%!important;

      iframe {}
    }
  }
  .play-demo-icon {
    top: auto!important;
    left: auto!important
  }

  .avatar {
    display: none!important;
  }

  #hero-unit {
    width: 100%!important;

    .container {
      width: 100%!important;
    }

    .hero-unit-col-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      height: auto!important;

      *.col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        margin: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center;
      }
    }

    #hero-button {
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 1280px) {
  .enterprise-cta {
    img { display: none; }
    p, h4, .text {
      text-align: center;
      width: 100%!important;
      left: 0!important;
    }
  }
  .u-card {
    width: 85%!important;
  }
}

@media screen and (max-width: 1189px) {
  #navbar-container nav .nav-sub-link-button,
  #navbar-container nav .sub-menu-fix {
    font-size: 15px!important;
    i {
      font-size: 15px!important;
    }
  }
}

@media screen and (max-width: 1080px) {
  #hero-unit {
    *.col {
      width: auto!important;
      padding: 40px;
      margin: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      text-align: center;
    }

    video {
      width: 100%!important;
      max-width: 1000px!important;
      margin: 0;
      box-sizing: content-box;
    }
  }

  #navbar-container nav .nav-sub-link-button,
  #navbar-container nav .sub-menu-fix {
    font-size: 13px!important;
    i {
      font-size: 13px!important;
    }
  }
}

@media screen and (max-width: 1079px) {
  .plans-group-container {
    flex-wrap: wrap;
    justify-content: space-evenly;

    .plan {
      width: 40%;
    }
  }
}

@media screen and (max-width: 1024px) {
  #hero-unit {
    .container {
      padding: 20px 0!important;
    }
  }
  .feature-image {
    display: none;
  }
  .u-card img {
    display: none;
  }
  .u-content {
    width: 100%!important;
    padding: 40px 20px!important;
  }
  .download-hero .cta-container {
    gap: 20px;
  }
}

@media screen and (max-width: 1023px) {
  footer {
    .footer-cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 912px) {
  .benefits-container {
    gap: 2%!important;
    justify-content: stretch;
    align-items: stretch;
    .b-title {
      font-size: 38px!important;
    }
  }

  .switch {
    width: 70%;
  }
}

@media screen and (max-width: 830px) {
  .plans-group-container {
    gap: 10px;
    margin: 40px 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .plan {
      width: 40%;
    }
  }
}

@media screen and (max-width: 800px) {
  .benefits-container {
    justify-content: stretch;
    align-items: stretch;
    gap: 2%!important;
    .b-title {
      font-size: 30px!important;
    }
  }
}

@media screen and (max-width: 768px) {
  .asset img { display: none!important; }
  #steps {
    padding-top: 0;
    .step {
      margin-top: 0;
    }
  }

  .claims-container h2, .feature h2 {
    font-size: 26px!important;
    text-align: center;
    width: 100%!important;
  }

  .u-card {
    width: 95%!important;
  }

  #features-detail {
    padding-top: 0!important;
  }
}

@media screen and (max-width: 767px) {
  .benefits-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    gap: 2%;
    .card-b {
      margin: 20px;
      width: calc(100% - 40px);
    }

    .b-title {
      font-size: 30px!important;
    }
  }
}

@media screen and (max-width: 711px) {
  footer {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 600px) {
  .plans-group-container {
    gap: 10px;
    margin: 40px 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .plan {
      width: 100%;
    }
  }
}

@media screen and (max-width: 540px) {
  .download-hero .cta-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    div {
      display: flex;
      flex: 1;
    }
  }
  #sponsors .container-flex {
    width: 100%!important;
  }
  .u-content {
    h2 {
      font-size: 26px!important;
    }
  }

  .toggle-prices {
    width: 100%;
  }

  .switch {
    width: 100%;
  }
}
