/** Site header */
#navbar-container {
    position: fixed;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid $grey-57;
    background-color: #0B0B13;

    ul {
        list-style: none;
    }

    #topbar {
        @extend %flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: $black;
        padding: $global-padding-small;
        text-align: center;
        border-bottom: 1px solid $grey-57;

        img {
            margin-right: 10px;
            display: inline-block;
        }
        .github {
            color: $white;
        }
    }

    nav {
        .container {
            padding: 0 20px;

            @include breakpoint('md') {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }

        #logo-container {
            display: flex;
            align-items: center;
            align-content: center;
            color: $white;

            @include breakpoint('0', 'md') {
                float: left;
            }

            #logo {
                display: block;
                margin: 20px 20px 20px 0;
            }
            span {
                position: relative;
                font-size: 16px;
                font-weight: bold;
                left: -10px;
                top: 20px;
            }
        }

        .separator {
            margin-right: 10px;
        }

        #hamburger {
            float: right;
            padding-top: 30px;

            @include breakpoint('md') {
                display: none;
            }
        }

        #navigation {
            display: none;

            @include breakpoint('md') {
                display: flex !important;
                align-items: center;
                align-content: center;

                li {
                    padding: 30px 0;
                    margin: 0 15px;
                }
            }

            @include breakpoint('0', 'md') {
                margin-top: $global-padding-default;

                li {
                    padding: 10px 0;
                    border-bottom: 1px solid $violet-light;

                    &:last-child {
                        border: 0;
                    }
                }
            }

            .submenu-wrapper {
                background-color: #0B0B13;
                margin: 10px 0 0 40px;

                @include breakpoint('md') {
                    position: absolute;
                    min-width: 100px;
                    margin-left: -30px;
                    padding: 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    @include border-radius(10px);
                }

                .submenu {
                    list-style: none;
                    margin: 0;
                    width: 100%;

                    li {
                        padding: 5px 10px 5px 0;
                        margin: 0;
                        width: 100%;

                        a {
                            display: block;
                            width: 100%;
                            font-size: 16px;
                        }
                    }
                }
                .submenu-cta {
                    display: none;
                    margin-left: 40px;
                    max-width: 300px;
                    box-sizing: border-box;

                    @include breakpoint('md') {
                        display: block;
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }

        a:link,
        a:visited {
            font-size: 19px;
            font-weight: 400;
            color: $white;
            transition: all 0.2s ease;
            cursor: pointer;
        }

        a:hover {
            color: $leapp-blue-light;
        }

        i {
            font-size: 1.563rem;
            color: $violet-light;
            margin-right: 10px;
        }

        #new {
            background-color: $leapp-blue-light;
            color: $white;
            @include border-radius(5px);
            display: inline-block;
            font-size: 11px;
            font-weight: 700;
            padding: 2px 5px;
            margin-left: 10px;
        }

        @include breakpoint('0', 'md') {
            .powered-by-header {
                display: none;
            }
        }
    }

    #cta a {
        text-decoration: underline!important;
    }

}
