#releases-content {
    min-height: 150px;

    a {
        color: $leapp-blue-dark;
        text-decoration: underline;
    }

    >p {
        margin-bottom: $global-padding-large;
    }

    >img {
        display: block;
        margin: $global-padding-mid auto;
    }

    h1 {
        display: none;
    }

    h2 {
        position: relative;
    }
    h2 a:after {
        display: none;
        content: 'Latest';
        background-color: #436060;
        position: absolute;
        left: 112px;
        top: 6px;
        box-sizing: border-box;
        @include border-radius(10px);
        color: $violet-dark;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 5px 20px;
        text-decoration: none;
    }

    h2 a, h3 a,
    .nolink {
        color: #436060;
        box-sizing: border-box;
        @include border-radius(10px);
        background-color: #73E0CF;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 5px 20px;
        text-decoration: none;

    }

    .default-list {
        margin: 0 0 20px 20px;
    }

    .download-list {
        list-style: none;
        margin: $global-padding-default 0 $global-padding-mid 0;
        padding: 0;

        li {
            display: inline-block;
            font-size: 16px;
            margin: 10px 10px 10px 0;

            a {
                background-color: $leapp-blue-dark;
                text-decoration: none;
                @include border-radius(5px);
                color: $violet-dark;
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
                height: 24px;
                padding: 10px 40px;
            }
        }
    }

}
