#tweetSlider {
    .title {
        font-weight: bold;
        @extend %flex;
        justify-content: space-between;

        i {
            font-size: 30px;
        }
    }
    .subtitle {
        margin-bottom: 10px;
        font-size: 13px;
        color: $grey-aa;
    }


}

.quotes-title {
    color: #1D1B25;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: -50px;
}
