a { text-decoration: underline; }

#sponsors {
  background-color: $white;


  .container-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    justify-content: space-around;

    a {
      margin: 30px;
      text-align: center;
    }
  }

  .sponsor-image {
    width: 150px;
    filter: grayscale(1);
    transition: all 0.3s ease;

    &:hover {
      filter: grayscale(0);
    }
  }

  .no-margin {
    padding: 0!important;
  }

  .section-title {

    h2 {
      color: #1D1B25;
      text-align: center;
      font-size: 26px;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }

    h4 {
      color: #717171;
      text-align: center;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px; /* 133.333% */

    }

  }

}
