a { text-decoration: underline; }

#sponsors {
  background-color: $white;

  @include breakpoint('md') {
    padding: 40px 0;
  }

  .container-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    a {
      flex: 1 0 20%;
      margin: 30px;
      text-align: center;
    }
  }

  .sponsor-image {
    height: 70px;
    filter: grayscale(1);
    transition: all 0.3s ease;

    &:hover {
      filter: grayscale(0);
    }
  }

  .no-margin {
    padding: 0!important;
  }

  .sponsor-text {
    font-weight: bold;
    color: #444;
    font-size: 16px;
  }

}
