/** Features */
#steps {
    padding-top: 50px;
    /* background: $violet-dark; */
    /*background-image: radial-gradient(farthest-corner at 50% 0, $violet-light 0%, $violet-dark 70%);*/

    .anchor::before {
        content: '';
        display: block;
        height:      75px;
        margin-top: -75px;
        visibility: hidden;
    }

    .anchor {
        display: block;
        position: relative;
        top: -250px;
        visibility: hidden;
    }

    .steps-navigation {
        a {
            opacity: 0.3;
            color: #1D1B25;

            &:hover,
            &.active {
                opacity: 1;
            }
        }
    }

    h3 {
        color: #1D1B25;
        font-weight: 600;
        font-size: 35px;
        line-height: 1;
        letter-spacing: -.03em;
        text-align: center;

        @include breakpoint('md') {
            font-size: 52px;
        }
    }

    .step2 {
        .avatar {
            top: -56%;
            left: -23%;
        }
    }

    .step {
        margin-top: 100px;

        .avatar {

            position: absolute;
            top: -56%;
            right: -23%;
            img {
                width: 500px;
            }
        }

        /* align-items: center; */
        .image {
            img {
                width: 100%;
                border-radius: 30px;
            }
        }

        @include breakpoint('md') {
            -webkit-display: flex;
            -moz-display: flex;
            -ms-display: flex;
            -o-display: flex;
            display: flex;
            justify-content: space-between;
            height: 550px;
            position: relative;

            .col {
                width: 50%;
                padding: 20px;
                box-sizing: border-box;
            }

            .image {
                position: relative;

                img {
                    position: absolute;
                    left: -200px;
                    right: auto;
                    display: block;
                    max-height: 600px;
                }
            }

            &.reverse {
                flex-direction: row-reverse;

                .content {
                    padding-left: 0;
                }

                .image {
                    img {
                        right: -200px;
                        left: auto;
                    }
                }
            }

        }

        .asset {
            padding: 0;

            .video {
                width: 100%;
                margin-bottom: $global-padding-default;

                @include breakpoint('md') {
                    width: calc(66.67% - 40px);
                    padding: 0 20px;
                    display: flex;
                }
            }
        }

        h2 {
            margin-bottom: 2rem;
            font-size: 35px;
            font-weight: 600;
            line-height: 1.2;
        }
        .pink{
            color: #FF6EEE;
        }
        .yellow {
            color: #FF9E00;
        }
        .green {
            color: #2CAAA2;
        }
        .link-to-feature {
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            font-size: 21px;
            text-decoration: underline;
        }

        ul {
            margin-left: $global-padding-default;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 1rem;
        }

        .col.content .cli-home-link {
            color: unset;
            font-weight: 600;
            text-decoration: underline;
        }
    }
}

#steps.team {
    background-image: radial-gradient(farthest-corner at 50% 0, #52488D 0%, #080b38 70%);;
}

.cta-steps {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        background: #52488D;
        color:white!important;
    }
}
