.team-media-hero {
  position: relative;
}

span.cursor {
  display: inline-block;
  border-bottom: 6px solid white;
  width: 30px;
  animation: blink 1s infinite;
}
span.cursor.typing {
  animation: none;
}
span.cursor.hidden {
  display: none;
}
@keyframes blink {
  0% {
    border-color: white;
  }
  49% {
    border-color: white;
  }
  50% {
    border-color: transparent;
  }
  99% {
    border-color: transparent;
  }
}

.team-content {
  padding: 40px 20px 20px 20px!important;
}

.team-hero {
  gap: 140px;
    img {
      border-radius: 5px;
    }
}

.team-media-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  span {
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .demo-video-image {
    width: 45%;
    padding-top: 10px;
  }
  .hero-team-play-demo-icon {
    position: absolute;
    font-size: 1000%;
    color: rgba(82, 72, 141, 0.76);
    top: 45%;
    left: 50%;
    margin-left: -80px;
    cursor:pointer;
  }
  .fa-arrow-turn-right {
    width: 15.999px;
    height: 13.002px;
    position: relative;
    font-size:45px;
    top: 20px;
    transform: rotate(135deg);
    flex-shrink: 0;
    color: #C925D1;
  }
}

.team-hero-content {
  width: 40% !important;
}

.hero-unit-container {
  display: flex;
  flex-direction: row;
}

.sign-up-form {
  position: relative;
  width: 100%;
  max-width: 651px;
  height: 602px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;

  img {
    width: 215px;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .inner-content-container {
    max-width: 260px;

    .title {
      color: #000;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 38px;
      margin-bottom: 25px;
      display: inline-block;
    }

    .field-name {
      color: #1D1B25;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 4px;
      display: inline-block;
    }

    .field-description {
      color: #717171;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 30px;
      display: inline-block;
    }

    .form-control {
      width: 100%;
      box-sizing: border-box;
      height: 48px;
      border-radius: 5px;
      border: 1px solid var(--Grey-text, #717171);
      background: #FFF;
      padding: 0 14px;
      margin: 0;
      font: 400 14px/1.5 "Montserrat", sans-serif, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    button {
      border-radius: 5px;
      border: 1px solid var(--Grey-text, #717171);
      background: #DE5349;
      width: 100%;
      height: 50px;
      margin-top: 10px;
      margin-bottom: 30px;
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.7;
        transition: opacity 0.3s ease;
      }

      i.fa-spinner {
        margin-left: 10px
      }
    }
  }

  .privacypolicy {
    display: flex;
    width: 100%;
    margin: 0 20px;
  }

  .privacy-policy {
    margin: 0 -80px;
    color: #717171;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    align-self: center;
    padding: 0 20px;
    display: inline-block;
    text-align: center;

    a {
      color: #717171;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      text-decoration-line: underline !important;
    }
  }

  .already-signed-up {
    position: absolute;
    bottom: 20px;
    color: #717171;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    align-self: center;

    a {
      text-decoration-line: underline !important;
      color: #584293;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
    }
  }
}

.team-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;

  .title {
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
  }

  .carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    .carousel-info-container {
      width: 27%;
      display: flex;
      flex-direction: column;

      .carousel-info {
        display: flex;
        flex-direction: row;
        cursor:pointer;

        #carousel-strip-1, #carousel-strip-2, #carousel-strip-3 {
          flex-shrink: 0;
          width: 4px;
          height: 127px;
          background-color: #221446;
          align-self: center;
          transition: all 0.8s ease;

          &.active-carousel {
            width: 10px;
            transition: all 0.8s ease;
            background-color: #9747FF;
          }

          &.active-carousel + div > span:nth-child(1) {
            transition: color 0.8s ease;
            color: #9747FF!important;
          }
        }

        .carousel-info-content {
          display: flex;
          flex-direction: column;
          margin-left: 20px;

          span:nth-child(1) {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            transition: color 0.8s ease;
          }

          span:nth-child(2) {
            color: var(--Grey-text, #717171);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            margin-bottom: 15px;
          }
        }
      }
    }

    .img-wrapper {
      width: 900px;
      height: 563px;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
    }

    img {
      display: inline-block;
      object-fit: fill;
      flex-shrink: 0;
      scroll-snap-align: start;
    }

    span {
      display: block;
    }
  }
}

@media screen and (max-width: 1448px) {
  .team-hero {
    gap: 0;
  }

  .hero-team-play-demo-icon {
    top: 35% !important;
  }

  .carousel-container {
    flex-direction: column!important;
    .carousel-info-container {
      width: 80% !important;
      flex-direction: row!important;
      margin-bottom: 30px;
      .carousel-info {
        flex: 1;
      }
      #carousel-strip-1, #carousel-strip-2, #carousel-strip-3 {
        display: none!important;
      }
    }
  }
}

@media screen and (min-width: 1281px) {
  .team-hero-content { width: 100%!important; align-self: center; }
  .team-media-hero { width: 100%!important; }
  .team-hero {
    .media-hero {
      width: 100%!important;

      img {
        border-radius: 5px;
      }
    }
  }
  .step-team {
    height: 480px!important;
  }
}

@media screen and (max-width: 1280px) {
  .team-hero-content { width: 100%!important; align-self: center; }
  .team-media-hero { width: 100%!important; }
  .step-team {
    height: 480px!important;
  }
}

@media screen and (max-width: 1024px) {
  .team-hero-content { width: 100%!important; text-align: center; align-self: center;  h1 {  font-weight: 600; font-size: 35px; } }
  .team-media-hero { width: 100%!important; text-align: center; margin: 0 auto; img { text-align: center; } }
  .team-subtitle {
    margin-bottom: -40px!important;
    margin-top: 40px!important;
  }
  .step-team {
    height: initial!important;
  }
  .hero-team-play-demo-icon {
    top: 35%!important;
    font-size: 700% !important;
    margin-left: 0!important;
    left: initial!important;
  }
  .team-carousel .title {
    font-size: 25px;
  }
  .carousel-info-content {
    margin-left: 0!important;
  }
  .carousel-info-container {
    width: 85% !important;
  }
  .carousel-container {
    flex-direction: column!important;
    .carousel-info-container {
      width: 85% !important;
      flex-direction: row!important;
      margin-bottom: 30px;
      .carousel-info {
        flex: 1;
      }
      #carousel-strip-1, #carousel-strip-2, #carousel-strip-3 {
        display: none!important;
      }
    }

    .img-wrapper {
      display: none!important;
      width: 0!important;
      height: 0!important;
    }
  }
}

.jconfirm-box {
  .leapp-form-wrapper {
    fieldset {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: space-between;
      .paired {
        width: 49%;
      }
      .not-paired {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .team-hero-content { width: 100%!important; text-align: center; align-self: center; h1 {  font-weight: 600; font-size: 35px; } p { font-size: 17px!important; }}
  .team-media-hero { width: 100%!important; text-align: center; margin: 0 auto; img { text-align: center; } }
  .team-subtitle {
    margin-bottom: 0!important;
    margin-top: 80px!important;
  }
  .step-team {
    height: initial!important;
  }
  .callout strong {
    font-size: 0.9rem!important;
  }
  .jconfirm-box {
    width: 100%!important;
    padding: 0!important;
    .leapp-form-wrapper {
      padding: 20px!important;
      border-radius: 0;
      -webkit-border-radius: 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .jconfirm-box {
    .leapp-form-wrapper {
      padding: 20px!important;
      fieldset {
        .paired {
          width: 100%;
        }
      }
    }
  }
}
