span.cursor {
  display: inline-block;
  border-bottom: 6px solid white;
  width: 30px;
  animation: blink 1s infinite;
}
span.cursor.typing {
  animation: none;
}
span.cursor.hidden {
  display: none;
}
@keyframes blink {
  0% {
    border-color: white;
  }
  49% {
    border-color: white;
  }
  50% {
    border-color: transparent;
  }
  99% {
    border-color: transparent;
  }
}

.team-content {
  padding: 40px 20px 20px 20px!important;
}

.step-team {
  height: 480px!important;
}
