.u-card {
  display: flex;
  flex-direction: row-reverse;
  background: #D9D9D9;
  border-radius: 15px;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 100px;
  margin-top: 40px;

  img {
    position: absolute;
    right: -2%;
    height: 130%;
    top: -11%;
  }

  .u-content {
    padding: 40px;
    width: 40%;
  }
}
