$blue: #080B38;
$turquoise: #73E0CF;
$turquoise-light: #C0FDF4;
$text_color: #1D1B25;
$black: #000;
$white: #FFFFFF;
$grey: #e8e8e8;
$grey-eef: #eef;
$grey-fd: #fdfdfd;
$grey-fa: #fafafa;
$grey-cc: #ccc;
$grey-f5: #F5F5F5;
$grey-44: #444;
$grey-59: #595959;
$orange: #FFA729;
$mandatory: #FC561F;

$global-padding-small: 10px;
$global-padding-default: 20px;
$global-padding-mid: 40px;
$global-padding-large: 80px;