<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body>
<div class="modal-overlay"></div>
<section class="closed-beta-form-modal">
    <div class="popup-menu" style="overflow-y: auto;">
        <i class="fa-solid fa-x close-icon"></i>
        <iframe class="airtable-embed" src="https://airtable.com/embed/appVgheOl6G2JIvur/shrZjPqES5guPFDRp?backgroundColor=redDusty" frameborder="0" onmousewheel="" width="100%" style="height: 90vh; background: transparent; border: 1px solid #ccc;"></iframe>
    </div>
</section>
{% include tagmanagerscript.html %}
{% include navbar.html %}
{% include hero-team.html %}
{% include main-features-team.html %}
{% include steps-team.html %}
{% include opensource-team.html %}
{% include footer.html %}
</body>

</html>
